<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Dashboard | Front - Admin &amp; Dashboard Template</title>

    <th:block th:fragment="head">
        <!-- Favicon -->
        <link rel="shortcut icon" href="/admin/favicon.ico">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="/admin/assets/css/vendor.min.css">
        <link rel="stylesheet" href="/admin/assets/vendor/icon-set/style.css">
        <link rel="stylesheet" href="/admin/assets/css/style.css">


        <!-- CSS Front Template -->
        <link rel="stylesheet" href="/admin/assets/css/theme.min.css?v=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css"/>

    </th:block>

</head>
<body>

</body>
</html>