<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


  <head th:fragment="header">
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Dashboard | Front - Admin &amp; Dashboard Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/admin/favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/admin/assets/css/vendor.min.css">
    <link rel="stylesheet" href="/admin/assets/vendor/icon-set/style.css">
    
    

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="/admin/assets/css/theme.min.css?v=1.0">
  </head>

  <body class="footer-offset">
<th:block th:fragment="dashboard">



        <!-- ONLY DEV -->

        <!-- Builder -->
        <div id="styleSwitcherDropdown" class="hs-unfold-content sidebar sidebar-bordered sidebar-box-shadow" style="width: 35rem;">
          <div class="card card-lg border-0 h-100">
            <div class="card-header align-items-start">
              <div class="mr-2">
                <h3 class="card-header-title">Front Builder</h3>
                <p>Customize your overview page layout. Choose the one that best fits your needs.</p>
              </div>

              <!-- Toggle Button -->
              <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-ghost-dark" href="javascript:;" data-hs-unfold-options='{
                  "target": "#styleSwitcherDropdown",
                  "type": "css-animation",
                  "animationIn": "fadeInRight",
                  "animationOut": "fadeOutRight",
                  "hasOverlay": true,
                  "smartPositionOff": true
                 }'>
                <i class="tio-clear tio-lg"></i>
              </a>
              <!-- End Toggle Button -->
            </div>

            <!-- Footer -->
            <div class="card-footer">
              <div class="row gx-2">
                <div class="col">
                  <button type="button" id="js-builder-reset" class="btn btn-block btn-lg btn-white">
                    <i class="tio-restore"></i> Reset
                  </button>
                </div>
                <div class="col">
                  <button type="button" id="js-builder-preview" class="btn btn-block btn-lg btn-primary">
                    <i class="tio-visible"></i> Preview
                  </button>
                </div>
              </div>
              <!-- End Row -->
            </div>
            <!-- End Footer -->
          </div>
        </div>
        <!-- End Builder -->



        <!-- JS Preview mode only -->
        <div id="headerMain" class="d-none"><header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered">
          <div class="navbar-nav-wrap">
            <div class="navbar-brand-wrapper">
              <!-- Logo -->
              <a class="navbar-brand" href="#" aria-label="Front">
                <img class="navbar-brand-logo" src="/admin/assets/svg/logos/logo.svg" alt="Logo">
                <img class="navbar-brand-logo-mini" src="/admin/assets/svg/logos/logo-short.svg" alt="Logo">
              </a>
              <!-- End Logo -->
            </div>

            <div class="navbar-nav-wrap-content-left">
              <!-- Navbar Vertical Toggle -->
              <button type="button" class="js-navbar-vertical-aside-toggle-invoker close mr-3">
                <i class="tio-first-page navbar-vertical-aside-toggle-short-align" data-toggle="tooltip" data-placement="right" title="Collapse"></i>
                <i class="tio-last-page navbar-vertical-aside-toggle-full-align" data-template='<div class="tooltip d-none d-sm-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-toggle="tooltip" data-placement="right" title="Expand"></i>
              </button>
              <!-- End Navbar Vertical Toggle -->
            </div>

            <!-- Secondary Content -->
            <div class="navbar-nav-wrap-content-right">
              <!-- Navbar -->
              <ul class="navbar-nav align-items-center flex-row">
                <li class="nav-item d-md-none">
                  <!-- Search Trigger -->
                  <div class="hs-unfold">
                    <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options='{
                 "target": "#searchDropdown",
                 "type": "css-animation",
                 "animationIn": "fadeIn",
                 "hasOverlay": "rgba(46, 52, 81, 0.1)",
                 "closeBreakpoint": "md"
               }'>
                      <i class="tio-search"></i>
                    </a>
                  </div>
                  <!-- End Search Trigger -->
                </li>



                <li class="nav-item">
                  <!-- Account -->
                  <div class="hs-unfold">
                    <a class="js-hs-unfold-invoker navbar-dropdown-account-wrapper" href="javascript:;" data-hs-unfold-options='{
                 "target": "#accountNavbarDropdown",
                 "type": "css-animation"
               }'>
                      <div class="avatar avatar-sm avatar-circle">
                        <img class="avatar-img" th:src="${(adminLogin.avatar==null)?'https://st.quantrimang.com/photos/image/072015/22/avatar.jpg':adminLogin.avatar}" alt="Image Description">
                        <span class="avatar-status avatar-sm-status avatar-status-success"></span>
                      </div>
                    </a>

                    <div id="accountNavbarDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu navbar-dropdown-account" style="width: 16rem;">
                      <div class="dropdown-item-text">
                        <div class="media align-items-center">
                          <div class="avatar avatar-sm avatar-circle mr-2">
                            <img class="avatar-img" th:src="${(adminLogin.avatar==null)?'https://st.quantrimang.com/photos/image/072015/22/avatar.jpg':adminLogin.avatar}" alt="Image Description">
                          </div>
                          <div class="media-body">
                            <span class="card-title h5" th:text="${adminLogin.userName}"></span>
                            <span class="card-text" th:text="${adminLogin.email}"></span>
                          </div>
                        </div>
                      </div>

<!--                      <div class="dropdown-divider"></div>-->

                      <!-- Unfold -->
<!--                      <div class="hs-unfold w-100">-->
<!--                        <a class="js-hs-unfold-invoker navbar-dropdown-submenu-item dropdown-item d-flex align-items-center" href="javascript:;" data-hs-unfold-options='{-->
<!--                     "target": "#navSubmenuPagesAccountDropdown1",-->
<!--                     "event": "hover"-->
<!--                   }'>-->
<!--                          <span class="text-truncate pr-2" title="Set status">Set status</span>-->
<!--                          <i class="tio-chevron-right navbar-dropdown-submenu-item-invoker ml-auto"></i>-->
<!--                        </a>-->

<!--                        <div id="navSubmenuPagesAccountDropdown1" class="hs-unfold-content hs-unfold-has-submenu dropdown-unfold dropdown-menu navbar-dropdown-sub-menu">-->
<!--                          <a class="dropdown-item" href="#">-->
<!--                            <span class="legend-indicator bg-success mr-1"></span>-->
<!--                            <span class="text-truncate pr-2" title="Available">Available</span>-->
<!--                          </a>-->
<!--                          <a class="dropdown-item" href="#">-->
<!--                            <span class="legend-indicator bg-danger mr-1"></span>-->
<!--                            <span class="text-truncate pr-2" title="Busy">Busy</span>-->
<!--                          </a>-->
<!--                          <a class="dropdown-item" href="#">-->
<!--                            <span class="legend-indicator bg-warning mr-1"></span>-->
<!--                            <span class="text-truncate pr-2" title="Away">Away</span>-->
<!--                          </a>-->
<!--                          <div class="dropdown-divider"></div>-->
<!--                          <a class="dropdown-item" href="#">-->
<!--                            <span class="text-truncate pr-2" title="Reset status">Reset status</span>-->
<!--                          </a>-->
<!--                        </div>-->
<!--                      </div>-->
                      <!-- End Unfold -->

<!--                      <a class="dropdown-item" href="#">-->
<!--                        <span class="text-truncate pr-2" title="Profile &amp; account">Profile &amp; account</span>-->
<!--                      </a>-->

<!--                      <a class="dropdown-item" href="#">-->
<!--                        <span class="text-truncate pr-2" title="Settings">Settings</span>-->
<!--                      </a>-->

<!--                      <div class="dropdown-divider"></div>-->

<!--                      <a class="dropdown-item" href="#">-->
<!--                        <span class="text-truncate pr-2" title="Settings">Contact</span>-->
<!--                      </a>-->

<!--                      <a class="dropdown-item" href="#">-->
<!--                        <div class="media align-items-center">-->
<!--                          <div class="avatar avatar-sm avatar-dark avatar-circle mr-2">-->
<!--                            <span class="avatar-initials">DBA</span>-->
<!--                          </div>-->
<!--                          <div class="media-body">-->
<!--                            <span class="card-title h5">DBA <span class="badge badge-primary badge-pill text-uppercase ml-1">PRO</span></span>-->
<!--                            <span class="card-text">dba@gmail.com</span>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </a>-->

<!--                      <div class="dropdown-divider"></div>-->

<!--                      &lt;!&ndash; Unfold &ndash;&gt;-->
<!--                      <div class="hs-unfold w-100">-->
<!--                        <a class="js-hs-unfold-invoker navbar-dropdown-submenu-item dropdown-item d-flex align-items-center" href="javascript:;" data-hs-unfold-options='{-->
<!--                     "target": "#navSubmenuPagesAccountDropdown2",-->
<!--                     "event": "hover"-->
<!--                   }'>-->
<!--                          <span class="text-truncate pr-2" title="Customization">Customization</span>-->
<!--                          <i class="tio-chevron-right navbar-dropdown-submenu-item-invoker  ml-auto"></i>-->
<!--                        </a>-->

<!--                        <div id="navSubmenuPagesAccountDropdown2" class="hs-unfold-content hs-unfold-has-submenu dropdown-unfold dropdown-menu navbar-dropdown-sub-menu">-->
<!--                          <a class="dropdown-item" href="#">-->
<!--                            <span class="text-truncate pr-2" title="Invite people">Invite people</span>-->
<!--                          </a>-->
<!--                          <a class="dropdown-item" href="#">-->
<!--                            <span class="text-truncate pr-2" title="Analytics">Analytics</span>-->
<!--                            <i class="tio-open-in-new"></i>-->
<!--                          </a>-->
<!--                          <a class="dropdown-item" href="#">-->
<!--                            <span class="text-truncate pr-2" title="Customize Front">Customize Front</span>-->
<!--                            <i class="tio-open-in-new"></i>-->
<!--                          </a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      &lt;!&ndash; End Unfold &ndash;&gt;-->

<!--                      <a class="dropdown-item" href="#">-->
<!--                        <span class="text-truncate pr-2" title="Manage team">Manage team</span>-->
<!--                      </a>-->

                      <div class="dropdown-divider"></div>

                      <a class="dropdown-item" th:href="@{/admin/logout}">
                        <span class="text-truncate pr-2" title="Sign out">Sign out</span>
                      </a>
                    </div>
                  </div>
                  <!-- End Account -->
                </li>
              </ul>
              <!-- End Navbar -->
            </div>
            <!-- End Secondary Content -->
          </div>
        </header></div>
        <div id="headerFluid" class="d-none"><header id="header" class="navbar navbar-expand-xl navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered  ">
          <div class="js-mega-menu navbar-nav-wrap">
            <div class="navbar-brand-wrapper">
              <!-- Logo -->


              <a class="navbar-brand" th:href="@{/admin/login}" aria-label="Front">
                <img class="navbar-brand-logo" src="/admin/assets/svg/logos/logo.svg" alt="Logo">
              </a>

              <!-- End Logo -->
            </div>




          </div>
        </header></div>
        <div id="headerDouble" class="d-none"><header id="header" class="navbar navbar-expand-lg navbar-bordered flex-lg-column px-0">
          <div class="navbar-dark w-100">
            <div class="container-fluid">
              <div class="navbar-nav-wrap">
                <div class="navbar-brand-wrapper">
                  <!-- Logo -->
                  <a class="navbar-brand" th:href="@{/admin/login}" aria-label="Front">
                    <img class="navbar-brand-logo" src="/admin/assets/svg/logos/logo-white.svg" alt="Logo">
                  </a>
                  <!-- End Logo -->
                </div>
              </div>
            </div>
          </div>


        </header></div>
        <div id="sidebarMain" class="d-none"><aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
          <div class="navbar-vertical-container">
            <div class="navbar-vertical-footer-offset">
              <div class="navbar-brand-wrapper justify-content-between">
                <!-- Logo -->


                <a class="navbar-brand" th:href="@{/admin/login}" aria-label="Front">
                  <img class="navbar-brand-logo" src="/admin/assets/svg/logos/logo.svg" alt="Logo">
                  <img class="navbar-brand-logo-mini" src="/admin/assets/svg/logos/logo-short.svg" alt="Logo">
                </a>

                <!-- End Logo -->

                <!-- Navbar Vertical Toggle -->
                <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-vertical-aside-toggle btn btn-icon btn-xs btn-ghost-dark">
                  <i class="tio-clear tio-lg"></i>
                </button>
                <!-- End Navbar Vertical Toggle -->
              </div>

              <!-- Content -->
              <div class="navbar-vertical-content">
                <ul class="navbar-nav navbar-nav-lg nav-tabs">
                  <!-- Dashboards -->
                  <li class="navbar-vertical-aside-has-menu show">
                    <a class="js-navbar-vertical-aside-menu-link nav-link active" href="javascript:;" title="Dashboards">
                      <i class="tio-home-vs-1-outlined nav-icon"></i>
                      <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Dashboards</span>
                    </a>
                  </li>
                  <!-- End Dashboards -->

                  <li class="nav-item">
                    <small class="nav-subtitle" title="Pages">Pages</small>
                    <small class="tio-more-horizontal nav-subtitle-replacer"></small>
                  </li>

                  <!-- User management -->
                  <li class="navbar-vertical-aside-has-menu ">
                    <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;" title="Pages">
                      <i class="tio-pages-outlined nav-icon"></i>
                      <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Users</span>
                    </a>

                    <ul class="js-navbar-vertical-aside-submenu nav nav-sub" id="users_dashboard">
                      <li class="navbar-vertical-aside-has-menu ">
                        <a class="js-navbar-vertical-aside-menu-link nav-link" id="a_users" th:href="@{/admin/list-user}" title="List User">
                          <span class="tio-circle nav-indicator-icon"></span>
                          <span class="text-truncate">List User</span>
                        </a>
                      </li>

<!--                      <li class="navbar-vertical-aside-has-menu ">-->
<!--                        <a class="js-navbar-vertical-aside-menu-link nav-link " href="mail-box.html" title="Mail box">-->
<!--                          <span class="tio-circle nav-indicator-icon"></span>-->
<!--                          <span class="text-truncate">Mail box</span>-->
<!--                        </a>-->
<!--                      </li>-->
                    <th:block th:with="Role = ${T(com.motomarket.repository.model.Role)}">
                      <li class="navbar-vertical-aside-has-menu " th:if="${adminLogin.role==Role.DBA}">
                        <a class="js-navbar-vertical-aside-menu-link nav-link " id="a_add_new_admin" data-role="DBA" th:href="@{/admin/add-new-admin}" title="Add New Admin">
                          <span class="tio-circle nav-indicator-icon"></span>
                          <span class="text-truncate">Add New Admin</span>
                        </a>
                      </li>
                    </th:block>

                    </ul>
                  </li>
                  <!-- End User management -->

                  <!-- Post management -->
                  <li class="navbar-vertical-aside-has-menu ">
                    <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;" title="Post">
                      <i class="tio-apps nav-icon"></i>
                      <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Posts </span>
                    </a>

                    <ul class="js-navbar-vertical-aside-submenu nav nav-sub" id="posts_dashboard">
                      <li class="nav-item">
                        <a class="nav-link " id="a_all_post" th:href="@{/admin/post}" title="All Posts">
                          <span class="tio-circle nav-indicator-icon"></span>
                          <span class="text-truncate">All</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " id="a_waiting_post" th:href="@{/admin/post/waiting}" title="Waiting Posts">
                          <span class="tio-circle nav-indicator-icon"></span>
                          <span class="text-truncate">Waiting</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link " id="a_hide_post" th:href="@{/admin/post/hide}" title="Hidden Posts">
                          <span class="tio-circle nav-indicator-icon"></span>
                          <span class="text-truncate">Hide</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!-- End Post management -->

                  <li class="nav-item ">
                    <a class="js-nav-tooltip-link nav-link " href="/" title="Welcome page" data-placement="left">
                      <i class="tio-visible-outlined nav-icon"></i>
                      <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Home Page</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- End Content -->
            </div>
          </div>
        </aside></div>
        <div id="sidebarCompact" class="d-none"><aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
          <div class="navbar-vertical-container">
            <div class="navbar-brand d-flex justify-content-center">
              <!-- Logo -->


              <a class="navbar-brand" th:href="@{/admin/login}" aria-label="Front">
                <img class="navbar-brand-logo-short" src="/admin/assets/svg/logos/logo-short.svg" alt="Logo">
              </a>

              <!-- End Logo -->
            </div>
          </div>
        </aside></div>



        <!-- END ONLY DEV -->

        <!-- ========== HEADER ========== -->

        <!-- ========== END HEADER ========== -->

        <!-- ========== MAIN CONTENT ========== -->


    <!-- ========== END MAIN CONTENT ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->

    <!-- Welcome Message Modal -->
    <div class="modal fade" id="welcomeMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-close">
            <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
              <i class="tio-clear tio-lg"></i>
            </button>
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="modal-body p-sm-5">
            <div class="text-center">
              <div class="w-75 w-sm-50 mx-auto mb-4">
                <img class="img-fluid" src="/admin/assets/svg/illustrations/graphs.svg" alt="Image Description">
              </div>

              <h4 class="h1">Welcome to Front</h4>

              <p>We're happy to see you in our community.</p>
            </div>
          </div>
          <!-- End Body -->

          <!-- Footer -->
          <div class="modal-footer d-block text-center py-sm-5">
            <small class="text-cap mb-4">Trusted by the world's best teams</small>

            <div class="w-85 mx-auto">
              <div class="row justify-content-between">
                <div class="col">
                  <img class="img-fluid ie-welcome-brands" src="/admin/assets/svg/brands/gitlab-gray.svg" alt="Image Description">
                </div>
                <div class="col">
                  <img class="img-fluid ie-welcome-brands" src="/admin/assets/svg/brands/fitbit-gray.svg" alt="Image Description">
                </div>
                <div class="col">
                  <img class="img-fluid ie-welcome-brands" src="/admin/assets/svg/brands/flow-xo-gray.svg" alt="Image Description">
                </div>
                <div class="col">
                  <img class="img-fluid ie-welcome-brands" src="/admin/assets/svg/brands/layar-gray.svg" alt="Image Description">
                </div>
              </div>
            </div>
          </div>
          <!-- End Footer -->
        </div>
      </div>
    </div>
    <!-- End Welcome Message Modal -->
    <!-- ========== END SECONDARY CONTENTS ========== -->
</th:block>
<th:block th:fragment="script">
  <!-- JS Implementing Plugins -->
  <script src="/admin/assets/js/vendor.min.js"></script>
  <script src="/admin/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/admin/assets/vendor/chart.js.extensions/chartjs-extensions.js"></script>
  <script src="/admin/assets/vendor/chartjs-plugin-datalabels/dist/chartjs-plugin-datalabels.min.js"></script>
  <script src="/admin/assets/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside-mini-cache.js"></script>
  <script src="/admin/assets/js/demo.js"></script>

  <!-- JS Front -->
  <script src="/admin/assets/js/theme.min.js"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // ONLY DEV
      // =======================================================

      if (window.localStorage.getItem('hs-builder-popover') === null) {
        $('#builderPopover').popover('show')
                .on('shown.bs.popover', function () {
                  $('.popover').last().addClass('popover-dark')
                });

        $(document).on('click', '#closeBuilderPopover' , function() {
          window.localStorage.setItem('hs-builder-popover', true);
          $('#builderPopover').popover('dispose');
        });
      } else {
        $('#builderPopover').on('show.bs.popover', function () {
          return false
        });
      }

      // END ONLY DEV
      // =======================================================


      // BUILDER TOGGLE INVOKER
      // =======================================================
      $('.js-navbar-vertical-aside-toggle-invoker').click(function () {
        $('.js-navbar-vertical-aside-toggle-invoker i').tooltip('hide');
      });


      // INITIALIZATION OF MEGA MENU
      // =======================================================
      var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
        desktop: {
          position: 'left'
        }
      }).init();



      // INITIALIZATION OF NAVBAR VERTICAL NAVIGATION
      // =======================================================
      var sidebar = $('.js-navbar-vertical-aside').hsSideNav();


      // INITIALIZATION OF TOOLTIP IN NAVBAR VERTICAL MENU
      // =======================================================
      $('.js-nav-tooltip-link').tooltip({ boundary: 'window' })

      $(".js-nav-tooltip-link").on("show.bs.tooltip", function(e) {
        if (!$("body").hasClass("navbar-vertical-aside-mini-mode")) {
          return false;
        }
      });


      // INITIALIZATION OF UNFOLD
      // =======================================================
      $('.js-hs-unfold-invoker').each(function () {
        var unfold = new HSUnfold($(this)).init();
      });


      // INITIALIZATION OF FORM SEARCH
      // =======================================================
      $('.js-form-search').each(function () {
        new HSFormSearch($(this)).init()
      });


      // INITIALIZATION OF SELECT2
      // =======================================================
      $('.js-select2-custom').each(function () {
        var select2 = $.HSCore.components.HSSelect2.init($(this));
      });


      // INITIALIZATION OF CHARTJS
      // =======================================================
      Chart.plugins.unregister(ChartDataLabels);

      $('.js-chart').each(function () {
        $.HSCore.components.HSChartJS.init($(this));
      });

      var updatingChart = $.HSCore.components.HSChartJS.init($('#updatingData'));

      // CALL WHEN TAB IS CLICKED
      // =======================================================
      $('[data-toggle="chart-bar"]').click(function(e) {
        let keyDataset = $(e.currentTarget).attr('data-datasets')

        if (keyDataset === 'lastWeek') {
          updatingChart.data.labels = ["Apr 22", "Apr 23", "Apr 24", "Apr 25", "Apr 26", "Apr 27", "Apr 28", "Apr 29", "Apr 30", "Apr 31"];
          updatingChart.data.datasets = [
            {
              "data": [120, 250, 300, 200, 300, 290, 350, 100, 125, 320],
              "backgroundColor": "#377dff",
              "hoverBackgroundColor": "#377dff",
              "borderColor": "#377dff"
            },
            {
              "data": [250, 130, 322, 144, 129, 300, 260, 120, 260, 245, 110],
              "backgroundColor": "#e7eaf3",
              "borderColor": "#e7eaf3"
            }
          ];
          updatingChart.update();
        } else {
          updatingChart.data.labels = ["May 1", "May 2", "May 3", "May 4", "May 5", "May 6", "May 7", "May 8", "May 9", "May 10"];
          updatingChart.data.datasets = [
            {
              "data": [200, 300, 290, 350, 150, 350, 300, 100, 125, 220],
              "backgroundColor": "#377dff",
              "hoverBackgroundColor": "#377dff",
              "borderColor": "#377dff"
            },
            {
              "data": [150, 230, 382, 204, 169, 290, 300, 100, 300, 225, 120],
              "backgroundColor": "#e7eaf3",
              "borderColor": "#e7eaf3"
            }
          ]
          updatingChart.update();
        }
      })


      // INITIALIZATION OF BUBBLE CHARTJS WITH DATALABELS PLUGIN
      // =======================================================
      $('.js-chart-datalabels').each(function () {
        $.HSCore.components.HSChartJS.init($(this), {
          plugins: [ChartDataLabels],
          options: {
            plugins: {
              datalabels: {
                anchor: function(context) {
                  var value = context.dataset.data[context.dataIndex];
                  return value.r < 20 ? 'end' : 'center';
                },
                align: function(context) {
                  var value = context.dataset.data[context.dataIndex];
                  return value.r < 20 ? 'end' : 'center';
                },
                color: function(context) {
                  var value = context.dataset.data[context.dataIndex];
                  return value.r < 20 ? context.dataset.backgroundColor : context.dataset.color;
                },
                font: function(context) {
                  var value = context.dataset.data[context.dataIndex],
                          fontSize = 25;

                  if (value.r > 50) {
                    fontSize = 35;
                  }

                  if (value.r > 70) {
                    fontSize = 55;
                  }

                  return {
                    weight: 'lighter',
                    size: fontSize
                  };
                },
                offset: 2,
                padding: 0
              }
            }
          },
        });
      });


      // INITIALIZATION OF DATERANGEPICKER
      // =======================================================
      $('.js-daterangepicker').daterangepicker();

      $('.js-daterangepicker-times').daterangepicker({
        timePicker: true,
        startDate: moment().startOf('hour'),
        endDate: moment().startOf('hour').add(32, 'hour'),
        locale: {
          format: 'M/DD hh:mm A'
        }
      });

      var start = moment();
      var end = moment();

      function cb(start, end) {
        $('#js-daterangepicker-predefined .js-daterangepicker-predefined-preview').html(start.format('MMM D') + ' - ' + end.format('MMM D, YYYY'));
      }

      $('#js-daterangepicker-predefined').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
      }, cb);

      cb(start, end);


      // INITIALIZATION OF DATATABLES
      // =======================================================
      var datatable = $.HSCore.components.HSDatatables.init($('#datatable'), {
        select: {
          style: 'multi',
          selector: 'td:first-child input[type="checkbox"]',
          classMap: {
            checkAll: '#datatableCheckAll',
            counter: '#datatableCounter',
            counterInfo: '#datatableCounterInfo'
          }
        },
        language: {
          zeroRecords: '<div class="text-center p-4">' +
                  '<img class="mb-3" src="./assets/svg/illustrations/sorry.svg" alt="Image Description" style="width: 7rem;">' +
                  '<p class="mb-0">No data to show</p>' +
                  '</div>'
        }
      });

      $('.js-datatable-filter').on('change', function() {
        var $this = $(this),
                elVal = $this.val(),
                targetColumnIndex = $this.data('target-column-index');

        datatable.column(targetColumnIndex).search(elVal).draw();
      });

      $('#datatableSearch').on('mouseup', function (e) {
        var $input = $(this),
                oldValue = $input.val();

        if (oldValue == "") return;

        setTimeout(function(){
          var newValue = $input.val();

          if (newValue == ""){
            // Gotcha
            datatable.search('').draw();
          }
        }, 1);
      });


      // INITIALIZATION OF CLIPBOARD
      // =======================================================
      $('.js-clipboard').each(function() {
        var clipboard = $.HSCore.components.HSClipboard.init(this);
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE /d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="/admin/assets/vendor/babel-polyfill/polyfill.min.js"><//script>');
  </script>
</th:block>

  </body>
</html>
