<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng tin bán xe</title>

    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto-market.css?160015907620200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/pages/moto-market-layout.css?159169869320200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/common.css?159833824020200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/pages/maker-detail-custom.css?159368123420200827">

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css"
          href="/frontend/moto-v2/pc/css/vendor/trumbowyg/trumbowyg.min.css?160015879020200827">
    <link rel="stylesheet" type="text/css" href="/v1/vendor/select2/css/select2.min.css?152472729920200827"
          media="screen" onload="media='screen'">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/common.css?159833824020200827">
    <link rel="stylesheet" type="text/css" href="/v1/vendor/font-awesome/css/font-awesome.min.css?152472729920200827"
          media="screen" onload="media='screen'">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/pages/create_product.css?160015879020200827">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/pages/top.css?159125667020200827">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/frontend/toast-plugin/jquery.basic.toast.css">

    <link rel="stylesheet" href="/frontend/vendor/alertify/alertify.min.css?160015879020200827"/>
</head>

<body>

<div id="main">
    <div th:replace="~{fragments/header :: header(userLogin=${userLogin})}"></div>

    <section class="wrapper create-product">

        <div class="container">


            <div class="contents">
                <div class="col-left">
                    <div class="block bg-white">
                        <div class="title-h1">
                            <h1>Sửa thông tin bài đăng</h1>
                        </div>
                        <div class="sub-title">
                            <p>Điền đầy đủ thông tin giúp khách hàng dễ tìm xe</p>
                        </div>
                        <form method="POST" accept-charset="UTF-8" name="signup_form" id="product-editor"
                              th:action="@{/post/edit}" th:object="${post}" enctype="multipart/form-data">
                            <input type="hidden" th:field="*{postId}">

                            <div class="info-bike">
                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Xe bạn đang chọn:
                                        </label>
                                    </div>
                                    <input type="text" class="item-center" readonly id="temp_description"
                                           th:field="*{modelMotor}"/>
                                    <div class="item-right"></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Hình thức sở hữu
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <select name="ownershipSelect" id="ownershipSelect" th:field="*{ownership}"
                                            style="border: 1px solid #e0e0e0">
                                        <option value="OWNERSHIP">Chính chủ</option>
                                        <option value="NO_OWNERSHIP">Không Chính chủ</option>
                                    </select>
                                </div>
                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Số km đã đi
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="select2-style select_odo">
                                            <select placeholder="Đa đi" autocomplete="1" data-hide-search="1"
                                                    id="product_odo" class="form-control" th:field="*{kilometerCount}"
                                                    required="true"
                                                    name="odo_code">
                                                <option value="" selected hidden>Đã đi</option>
                                                <option value="0 - 4 999">0 - 4 999</option>
                                                <option value="5 000 - 9 999">5 000 - 9 999</option>
                                                <option value="10 000 - 14 999">10 000 - 14 999</option>
                                                <option value="15 000 - 19 999">15 000 - 19 999</option>
                                                <option value="20 000 - 24 999">20 000 - 24 999</option>
                                                <option value="25 000 - 29 999">25 000 - 29 999</option>
                                                <option value="30 000 - 34 999">30 000 - 34 999</option>
                                                <option value="35 000 - 39 999">35 000 - 39 999</option>
                                                <option value="40 000 - 44 999">40 000 - 44 999</option>
                                                <option value="45 000 - 49 999">45 000 - 49 999</option>
                                                <option value="50 000 - 59 999">50 000 - 59 999</option>
                                                <option value="60 000 - 69 999">60 000 - 69 999</option>
                                                <option value="70 000 - 79 999">70 000 - 79 999</option>
                                                <option value="80 000 - 89 999">80 000 - 89 999</option>
                                                <option value="90 000 - 99 999">90 000 - 99 999</option>
                                                <option value="&gt; 100 000">&gt; 100 000</option>
                                                <option value="Không rõ">Không rõ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Tiêu đề
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="input-style1">
                                            <input required="true" class="" id="title-post" type="text"
                                                   name="product_description"
                                                   maxlength="100" value="" th:field="*{title}">
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>
                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Mô tả
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="textarea-style1">
                                                <textarea required="true"
                                                          name="product_other_description" rows="5"
                                                          class="form-control" th:field="*{description}"></textarea>
                                        </div>
                                        <label class="msg_warning msg_other_desc hide"></label>
                                    </div>
                                    <div class="item-right"></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Giá tiền
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center ">
                                        <div class="input-style1 input_price">
                                            <div class="unit"><span>đ</span></div>
                                            <input required="true" type="text" id="product_price_tmp"
                                                   name="product_price_tmp" value="" th:field="*{price}">
                                            <input class="" type="hidden" name="product_price" value="">
                                        </div>
                                        <label class="msg_warning hide"></label>
                                    </div>
                                    <div class="item-right">
                                        <label class="checkbox">
                                            <input type="checkbox" id="contact_price" name="contact_price">
                                            <span class="checkmark"></span>
                                            Liên hệ
                                        </label>
                                    </div>
                                </div>

                                <div class="items no-padding hide">
                                    <div class="item-left"></div>
                                    <div class="item-center">
                                        <label class="msg_warning msg_warning_price"></label>
                                    </div>
                                    <div class="item-right"></div>
                                </div>
                                <div class="items no-padding">
                                    <div class="item-left"></div>
                                    <div class="item-center">
                                        <p class="msg-notice text-orange">Tổng giá tiền. Giá cuối cùng khách hàng
                                            thanh toán để nhận xe.</p>
                                    </div>
                                    <div class="item-right"></div>
                                </div>

                            </div>

                            <div class="block bg-white" id="target_photo">
                                <div class="title-h1">
                                    <span>Hình ảnh</span>
                                </div>
                                <div class="info-bike" id="photo_holder" data-max-photos="9">

                                    <div id="preview-img">
                                        <th:block th:each="image,state  : ${post.imageDTOList}"  >
                                            <div class="item-photo item-img"  th:img-id="${image.imageId}" >
                                                <label class="upload has-photo">
                                                    <figure class="thumbnail">
                                                        <img  th:src="@{/api/image/load/{idImage}(idImage=${image.imageName})}"
                                                             class="static lazy image-post">
                                                    </figure>
                                                </label>
                                                <a href="javascript:void(0)"  th:img-id="${image.imageId}"
                                                   class="delete-img-btn" >Xóa hình</a>
                                            </div>
                                        </th:block>

                                    </div>


                                    <div class="item-photo add_more" data-index="">
                                        <label class="upload">
                                            <figure class="thumbnail">
                                                <img class="static">
                                                <em class="icon p-upload"></em>
                                            </figure>
                                            <a href="#" data-select="Chọn hình" data-remove="Xóa hình">
                                                Thêm ảnh
                                            </a>
                                            <input class="" type="file" name="ip-upload-multi" id="ip-upload-multi"  accept="image/*">
                                        </label>
                                        <p class="errmsg help-block small error_photo_0"></p>
                                    </div>
                                </div>

                                <div class="info-bike">
                                    <label class="msg_warning_photo msg_warning hide"></label>
                                </div>
                            </div>

                            <div class="block bg-white" id="target_contact">
                                <div class="title-h1">
                                    <span>Thông tin liên hệ</span>
                                </div>
                                <div class="info-bike">
                                    <div class="items">
                                        <div class="item-left">
                                            <label>
                                                Họ tên liên hệ
                                                <span class="require">*</span>
                                            </label>
                                        </div>
                                        <div class="item-center ">
                                            <div class="input-style1">
                                                <th:block th:switch="${post.ownership}">
                                                    <input th:case="${T(com.motomarket.repository.model.Ownership).NO_OWNERSHIP}"
                                                           required="true" type="text" id="sellerName" name="sellerName"
                                                           th:value="${post.sellerName}">

                                                    <input th:case="${T(com.motomarket.repository.model.Ownership).OWNERSHIP}"
                                                           required="true" type="text" id="sellerName" name="sellerName"
                                                           th:value="${userLogin.userName}" readonly>

                                                </th:block>

                                            </div>
                                            <input type="hidden" id="hide-userNameLG" th:value="${userLogin.userName}">
                                        </div>
                                        <div class="item-right"><label class="msg_warning hide"></label></div>
                                    </div>

                                    <div class="items">
                                        <div class="item-left">
                                            <label>
                                                Số điện thoại
                                                <span class="require">*</span>
                                            </label>
                                        </div>
                                        <div class="item-center ">
                                            <div class="input-style1">
                                                <th:block th:switch="${post.ownership}">
                                                    <input th:case="${T(com.motomarket.repository.model.Ownership).OWNERSHIP}"
                                                           required="true" type="text" name="sellerPhoneNumber"
                                                           id="sellerPhoneNumber" th:value="${userLogin.phoneNumber}"
                                                           readonly>
                                                    <input th:case="${T(com.motomarket.repository.model.Ownership).NO_OWNERSHIP}"
                                                           required="true" type="text" name="sellerPhoneNumber"
                                                           id="sellerPhoneNumber" th:value="${post.sellerPhoneNumber}">
                                                </th:block>


                                            </div>
                                            <input type="hidden" id="hide-phoneLG" th:value="${userLogin.phoneNumber}">

                                        </div>
                                    </div>

                                    <div class="items">
                                        <div class="item-left">
                                            <label class="label">
                                                Tỉnh thành
                                                <span class="require">*</span>
                                            </label>
                                        </div>
                                        <div class="item-center">
                                            <div class="select2-style">
                                                <select placeholder="Khu vực" autocomplete="1" id="province"
                                                        class="form-control" required="true" name="province">
                                                    <option value="" selected hidden>Tỉnh/Thành phố</option>
                                                </select>
                                                <input type="hidden" id="province-hide" th:value="${post.province}">
                                            </div>
                                        </div>
                                        <div class="item-right"><label class="msg_warning hide"></label></div>
                                    </div>

                                    <div class="items">
                                        <div class="item-left">
                                            <label class="label">
                                                Quận huyện
                                                <span class="require">*</span>
                                            </label>
                                        </div>
                                        <div class="item-center">
                                            <div class="select2-style">
                                                <select autocomplete="1" id="district"
                                                        class="form-control" name="district">
                                                    <option value="" selected hidden>Vui Lòng chọn tỉnh/thành</option>
                                                </select>
                                            </div>
                                            <input type="hidden" id="district-hide" th:value="${post.district}">
                                        </div>
                                        <div class="item-right"><label class="msg_warning hide"></label></div>
                                    </div>
                                </div>
                            </div>

                            <div class="block text-right bg-white group-button inner-wrap-sticky bottom_sticky">
                                <div class="items">
                                    <input type="hidden" name="rp" value="">
                                    <div class="btn_post">
                                        <button type="button" id="cancel_btn" class="btn btn-gray btn-post-bike">Hủy
                                        </button>
                                    </div>
                                    <div class="btn_post">
                                        <button type="submit" id="submit_btn" class="btn btn-danger btn-post-bike">Lưu thay đổi
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <div class="col-right inner-wrap-sticky">
                    <div class="block bg-white">
                        <div class="block-fixed">
                            <ul class="step">
                                <li class="active">
                                    <a class="media" href="#target_info">
                                        <div><i class="icon icon-info"></i></div>
                                        <span class="media-body">Thông tin cơ bản</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="media" href="#target_photo">
                                        <div><i class="icon icon-camera"></i></div>
                                        <span class="media-body">Hình ảnh</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="media" href="#target_contact">
                                        <div><i class="icon icon-contact"></i></div>
                                        <span class="media-body">Thông tin liên hệ</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="block">
                        <div class="bg-light-orange block-fixed hide" id="block_notice">
                            <div class="items-notice title ">
                                <span class="s-title text-orange">Để bán nhanh hơn!</span>
                            </div>
                            <div class="items-notice">
                                <span class="s-title text-orange">Nên mô tả bằng Tiếng Việt có dấu</span>
                                <p>- Tình trạng chiếc xe.</p>
                                <p>- Thời gian sử dụng.</p>
                                <p>- Bảo trì xe: bao lâu/1 lần.</p>
                                <p>- Tình trạng giấy tờ.</p>
                            </div>
                            <div class="items-notice">
                                <span class="s-title text-orange">Lưu ý:</span>
                                <p><b>- Không điền số điện thoại/email/website ở đây.</b></p>
                            </div>
                            <div class="items-notice">
                                <span class="s-title text-orange">Mẹo bán liền tay</span>
                                <p>- Cần bán lại chiếc xe Air blade đời 2015, đã đi 15.000km, biển số Thành Phố.</p>
                                <p>- Xe bảo dưỡng định kỳ tại hãng.</p>
                                <p>- Tôi có giấy tờ chính chủ đầy đủ, giá bán xx triệu, xem xe tại nhà hoặc ra hãng
                                    test.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout" id="layout"></div>
    </section>

    <button type="button" id="back-to-top">PAGE TOP</button>

    <button type="button" id="btn-back-to-top">
        Page top
    </button>
    <div th:replace="~{fragments/footer :: footer}"></div>

</div>
<script src="/v1/pc/js/common/jquery.js?152472729920200827"></script>
<script src="/frontend/toast-plugin/jquery.basic.toast.js"></script>


<script>
    getProvinces();
    paserPrice();

    function getProvinces() {
        $.ajax({
            type: "GET",
            url: "https://vapi.vnappmob.com/api/province",
        }).done(function (data) {
            $.each(data.results, (index, item) => {
                $('#province').append(` <option value="${item.province_name}" data-id="${item.province_id}">${item.province_name}</option>`);
            })
            let provinceValue = $("#province-hide").val();
            $('#province').val(provinceValue).change();
            hanlderOnchangeProvince()
            let provinceId = $('#province').find(':selected').attr('data-id')
            let str = "";
            $.ajax({
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/district/" + provinceId,
            }).done(function (data) {
                $.each(data.results, (index, item) => {
                    str += `<option value="${item.district_name}">${item.district_name}</option>`
                })
                $('#district').html(str);
                let districtValue = $("#district-hide").val();
                $('#district').val(districtValue).change();
            }).fail(function () {
            })

        }).fail(function () {
        })
    }


    function hanlderOnchangeProvince() {
        $('#province').change(function () {
            let provinceId = $(this).find(':selected').attr('data-id')
            let str = "";
            $.ajax({
                type: "GET",
                url: "https://vapi.vnappmob.com/api/province/district/" + provinceId,
            }).done(function (data) {
                $.each(data.results, (index, item) => {
                    str += `<option value="${item.district_name}">${item.district_name}</option>`
                })
                $('#district').html(str);
            }).fail(function () {
            })
        });
    }

    function paserPrice() {
        let priceValue = $("#product_price_tmp").val();
        if (priceValue === ""){
            $("#product_price_tmp").prop('disabled', true);
            $('#contact_price').prop('checked', true);
        } else{
            $("#product_price_tmp").val(parseFloat(priceValue))
        }
    }

    $("#contact_price").change(function () {
        if (this.checked) {
            $("#product_price_tmp").prop('disabled', true);
            $("#product_price_tmp").val(" ");
        } else {
            $("#product_price_tmp").prop('disabled', false);
        }
    });

    //    Select OwnershipEvent
    $('#ownershipSelect').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;
        if (valueSelected == "OWNERSHIP") {
            let sellerNameHide = $("#hide-userNameLG").val();
            let sellerPhoneNumberHide = $("#hide-phoneLG").val();
            $("#sellerName").val(sellerNameHide);
            $("#sellerPhoneNumber").val(sellerPhoneNumberHide);
            $("#sellerName").attr("readonly", true);
            $("#sellerPhoneNumber").attr("readonly", true);
        } else {
            if (valueSelected == "NO_OWNERSHIP") {
                $("#sellerName").val(" ");
                $("#sellerPhoneNumber").val(" ");
                $("#sellerName").attr("readonly", false);
                $("#sellerPhoneNumber").attr("readonly", false);
            }
        }
    });

    // handler Image

    var filesBuffer = new DataTransfer();
    let allFile = filesBuffer.items;
    let lengthFile = imagePost = document.getElementsByClassName("image-post").length;


    function addFile() {
        var newFile = document.getElementById("ip-upload-multi").files;
        allFile.add(newFile[newFile.length - 1]);
        document.getElementById("ip-upload-multi").files = filesBuffer.files;
        previewImages();
    }

    function previewImages() {
        if (this.files) {
            [].forEach.call(this.files, readAndPreview);
        }
        function readAndPreview(file) {
            // Make sure `file.name` matches our extensions criteria
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                return alert(file.name + " is not an image");
            } // else..
            var reader = new FileReader();
            reader.addEventListener("load", function () {
                let src = this.result;
                addFile();
                let length = document.getElementById("ip-upload-multi").files.length;
                $('#preview-img').append(`<div class="item-photo item-img"  data-id="${length - 1}" data-index="0">
                                           <label class="upload has-photo">
                                            <figure class="thumbnail placeholder loaded">
                                           <img src="${src}" class="static"   rel="nofollow">
                                            </figure>
                                        </label>
                                        <a href="javascript:void(0)" onclick="removeImage(${length - 1})"   class="remove-img-btn" >Xóa hình</a>
                                    </div>`)
                console.log(length)
            });
            reader.readAsDataURL(file);
        }
    }

    document.querySelector('#ip-upload-multi').addEventListener("change", previewImages);

    // document.querySelector('#ip-upload-multi').addEventListener("change",addFile);
    function removeImage(id) {
        $('.item-photo').filter("[data-id='" + id + "']").remove();
        removeFile(Number(id))
        var els = document.getElementsByClassName("remove-img-btn");
        let itemimg = document.getElementsByClassName("item-img");

        for (var i = id; i < els.length; i++) {
            // let ids = i-1;
            $(els[i]).attr("onclick", "removeImage(" + i + ")");
            $(itemimg[i]).attr("data-id", "" + i + "");
        }
    }


    function removeFile(index) {
        let attachments = document.getElementById("ip-upload-multi").files;
        let fileBuffer = new DataTransfer();
        for (let i = 0; i < attachments.length; i++) {
            if (index !== i) {
                fileBuffer.items.add(attachments[i]);
            }
        }
        for (let i = 0; i < attachments.length; i++) {
            if (index == i) {
                allFile.remove(i);
            }
        }
        document.getElementById("ip-upload-multi").files = fileBuffer.files;
        let length = document.getElementById("ip-upload-multi").files.length;
        if (length === 0) {
            fileBuffer.items.clear()
            filesBuffer.items.clear()
        }
    }

//    Delete post image old
    $('.delete-img-btn').on("click", function () {
        var imageId = $(this).attr('img-id');
        $('.item-photo').filter("[img-id='" + imageId + "']").remove();
        $.ajax({
            type: "DELETE",
            url: "/api/image/detele/" + imageId,
        }).done(function (data) {

        }).fail(function () {
        })

    })

    $('#product-editor').on("submit", function () {
        lengthFile = imagePost = document.getElementsByClassName("image-post").length;
        let check = true;
        var fileUpload = $("#ip-upload-multi");
        var priceValue = $("#product_price_tmp").val();
        if (parseInt(fileUpload.get(0).files.length + lengthFile)>10){
            $.Toast("!!!Bạn chỉ có thể tải lên tối đa 10 ảnh", {
                'position': 'top',
                'class': 'alert',
                'duration': 1500,
                'width': 400
            });
            check = false;
        }else {
            if (parseInt(fileUpload.get(0).files.length + lengthFile)<5){
                $.Toast("!!!Bạn phải tải lên ít nhất 5 ảnh", {
                    'position': 'top',
                    'class': 'alert',
                    'duration': 1500,
                    'width': 400
                });
                check = false;
            }
        }

        if (!isNaN(priceValue)){
            if (priceValue < 0){
                $.Toast("Giá phải lớn hơn hoặc bằng 0", {
                    'position': 'top',
                    'class': 'alert',
                    'duration': 1500,
                    'width': 400
                });
                check = false;
            }
        } else{
            $.Toast("Giá phải nhập đúng định dạng số!!", {
                'position': 'top',
                'class': 'alert',
                'duration': 1500,
                'width': 400
            });
            check = false;
        }
        return check;
    })



</script>
</body>

</html>