<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="vi"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="vi"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="vi"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html lang="vi" ng-app="" class="no-js"><!--<![endif]-->
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Chợ Trao Đổi Xe Máy Xe Phân Khối Lớn FastBike</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1050">
    <link rel="shortcut icon" href="/favicon.png?152472729920200827" type="image/png">
<!--    Fonntawesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Core and vendor CSS -->
    <!-- <link rel="stylesheet" href="/v1/pc/css/template-tet.min.css?154892590120200827" /> -->
    <link rel="stylesheet" type="text/css" href="/v1/vendor/bootstrap/css/bootstrap.min.css?152472729920200827"
          media="screen" onload="media='screen'">
<!--    <link rel="stylesheet" type="text/css" href="/v1/vendor/font-awesome/css/font-awesome.min.css?152472729920200827"-->
<!--          media="screen" onload="media='screen'">-->
    <link rel="stylesheet" type="text/css" href="/v1/vendor/slick/slick.css?152472729920200827">
    <link rel="stylesheet" type="text/css" href="/v1/vendor/slick/slick-theme.css?152472729920200827">
    <link rel="stylesheet" type="text/css" href="/v1/vendor/select2/css/select2.min.css?152472729920200827"
          media="screen" onload="media='screen'">
    <script type="text/javascript" src="/v1/vendor/yall/yall-2.1.0.min.js?154996577520200827"></script>
    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="/v1/pc/css/common/font.css?152472729920200827" media="none"
          onload="media='screen'">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto_market_footer.css?159852541620200827">
    <!-- Main Css -->
    <link rel="stylesheet" type="text/css" href="/v1/pc/css/common/main.css?159737785820200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto_market_header.css?159852541620200827">
    <link rel="stylesheet" type="text/css" href="/v1/pc/css/topmoto.css?159229911020200827">
    <link rel="stylesheet" type="text/css"
          href="/frontend/moto-v2/pc/css/pages/topmoto/new-bike.css?159833824020200827">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/internal_link.css?159650535020200827">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/sugesstion.css?158926651620200827">
    <link rel="stylesheet" type="text/css"
          href="/frontend/moto-v2/pc/css/pages/suggest_bike_menu.css?160162130020200827">


</head>

<body  style="padding-bottom:0px !important; height: 80% !important;">

<!-- End Google Tag Manager -->
<div class="wrapper">
    <div th:replace="~{fragments/header :: header(userLogin=${userLogin})}"></div>
    <div class="container-page container-series">

        <section class="container-topmoto">
            <div class="container">
                <div class="search-topmoto">
                    <div class="title-second">
                        <h3 class="name">Tìm kiếm xe</h3>
                        <a class="btn-see-all pull-right" href="https://www.webike.vn/cho-xe-may/danh-sach-xe.html">
                            Xem tất cả (<span th:utext="${count}"></span>)
                        </a>
                    </div>
                    <form th:action="@{/search-moto-home}" id="advanced_search" method="get">
                        <input type="hidden" id="search_condition" name="new"/>
                        <div class="row">
                            <ul class="box-search-topmoto">
                                <li class="col-xs-2">
                                    <select autocomplete placeholder="Hãng Xe" tabindex="1"
                                            id="ip_search_brand" name="br" class="select-box">
                                        <option value="-1" selected>Hãng xe</option>
                                    </select>
                                </li>
                                <li class="col-xs-2">
                                    <select autocomplete  placeholder="Phân khối" tabindex="2"
                                            name="cc" id="ip_search_capacity" class="select-box">
                                        <option value="-1">Phân khối</option>
                                        <option value="0-50">-50cc</option>
                                        <option value="51-174">51cc-174cc</option>
                                        <option value="175-400">175cc-400cc</option>
                                        <option value="401-750">401cc-750cc</option>
                                        <option value="751-1000">751cc-1000cc</option>
                                        <option value="1001-9999">1001cc-</option>
                                    </select>
                                </li>
                                <li class="col-xs-2">
                                    <select autocomplete tabindex="3" name="sr" id="ip_search_series"
                                            placeholder="Dòng xe" class="select-box" disabled>
                                        <option value="-1" selected>Dòng xe</option>
                                    </select>
                                </li>
                                <li class="col-xs-2">
                                    <select autocomplete tabindex="6" name="pr" id="search_price_to"
                                            class="form-control align-right">
                                        <option value="-1">Đến giá</option>
                                        <option value="0">0 VND</option>
                                        <option value="10000000">10,000,000 VND</option>
                                        <option value="50000000">50,000,000 VND</option>
                                        <option value="100000000">100,000,000 VND</option>
                                        <option value="300000000">300,000,000 VND</option>
                                        <option value="500000000">500,000,000 VND</option>
                                        <option value="1000000000">1,000,000,000 VND</option>
                                        <option value="3000000000">3,000,000,000 VND</option>
                                    </select>
                                </li>
                                <li class="col-xs-2">
                                    <select autocomplete tabindex="7" name="pv"  id="ip_search_province"
                                            class="select-box">
                                        <option value="-1" selected>Tỉnh thành</option>
                                    </select>
                                </li>
                                <li class="col-xs-2">
                                    <button class="btn btn-danger"  type="submit" id="btnAdvanceSearch"
                                            style="width: 100%">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        Tìm kiếm
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="search-brand-type">
                    <div class="ct-brand">
                        <div class="title-second">
                            <h3 class="name">Hãng xe</h3>
                        </div>
                        <div class="row">
                            <ul class="list-brand">
                                <li>
                                    <a href="/search-all?keyword=honda">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/xkWyUOQ49rM_vkj53h8B3gOgQGE=/67x67/master/brand/honda.jpg"
                                                 alt="HONDA">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=yamaha">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/QC8B2x4q_W4xBdiR1z7uc0ZKFec=/67x67/master/brand/yamaha.jpg"
                                                 alt="YAMAHA">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=piago">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/o61B3NETjCzNc9nB7V8NoWdbauU=/67x67/master/brand/piaggio.jpg"
                                                 alt="PIAGGIO">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=suzuki">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/2dFdwGzzR9JItxesrszn1H-k-8w=/67x67/master/brand/suzuki.jpg"
                                                 alt="SUZUKI">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=kawasaki">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/XDYC6g9goGGXk7_za7NO7AviZt4=/67x67/master/brand/kawasaki.jpg"
                                                 alt="Kawasaki">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=ducati">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/u-odBE7VgJqQ4vXLKO_LOmp7SX0=/67x67/master/brand/ducati.jpg"
                                                 alt="DUCATI">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=HARLEYDAVIDSON">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/Tj9KBKFnAhoglx7ntifOVf9QESw=/67x67/master/brand/harley-davidson.jpg"
                                                 alt="HARLEY-DAVIDSON">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=benelli">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/UMU_Wwmi2wa0BGbZY4899NdFvj4=/67x67/master/brand/benelli.jpg"
                                                 alt="Benelli">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=agusta">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/bQReawp-SwGLdEFj7TdWuah0nz0=/67x67/master/brand/mv-agusta.jpg"
                                                 alt="MV AGUSTA">
                                        </figure>
                                    </a>
                                </li>
                                <li>

                                    <a href="/search-all?keyword=lambretta">
                                        <figure class="zoom-image">
                                            <img class="lazy" src="/frontend/img/common/l_no_img.jpg?158440972220200827"
                                                 data-src="https://imgwebikevn-8743.kxcdn.com/8K-UBpuj7joSi07993aDm4dXs1s=/67x67/master/brand/lambretta.jpg"
                                                 alt="Lambretta">
                                        </figure>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container ct-list-new-bike">
                <div class="title-second">
                    <h3 class="name">Xe mới đăng</h3>
                </div>
                <div class="grid-item-bike">
                    <ul id="latest-post-list" class="row list-bike-topmoto">

                  </ul>
                </div>
                <div class="col-xs-12 text-center">
                    <a class="btn btn-see-more" href="/post/moto-list">
                        Xem thêm xe
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

            <section id="model-series-topmoto">
                <div class="container">
                    <div class="title-second">
                        <h3 class="name">Dòng xe được xem nhiều nhất</h3>
                        <a class="btn-see-all pull-right"
                           href="https://www.webike.vn/cho-xe-may/dong-xe-duoc-xem-nhieu.html">
                            Xem tất cả
                        </a>
                    </div>
                    <div class="grid-item-slide">
                        <ul class="list-model-topmoto">
                            <li>
                                <a href="/search-all?keyword=YAMAHA Exciter 135"
                                   title="YAMAHA Exciter 135">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/nJ-Qv4ZVEuiIypP8EBTCPPK4jzY=/fit-in/180x136/master/series/856_exciter-135.jpg"
                                             alt="YAMAHA Exciter 135">
                                    </figure>
                                    <div class="list-info">
                                        <span class="icon rank rank1">1</span>
                                        <h3 class="title dotted-text2">
                                            YAMAHA Exciter 135
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword=HONDA Wave 100 RS"
                                   title="HONDA Wave 100 RS">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/KEVkADGFqmAduceCyybqiFT2gWk=/fit-in/180x136/master/series/401_wave-100-rs.jpg"
                                             alt="HONDA Wave 100 RS">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA Wave 100 RS
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword=YAMAHA Sirius" title="YAMAHA Sirius">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/xLnXUnFpOP4WO-f0yk6-3HU-IIY=/fit-in/180x136/master/series/966_sirius.jpg"
                                             alt="YAMAHA Sirius">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            YAMAHA Sirius
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword=HONDA Airblade 125 Fi"
                                   title="HONDA Airblade 125 Fi">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/OrXk5cfOi69mFazjH77LEU9n45o=/fit-in/180x136/master/series/368/368_airblade-125fi_1595904310.png"
                                             alt="HONDA Airblade 125 Fi">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA Airblade 125 Fi
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword=HONDA Vision 110"
                                   title="HONDA Vision 110">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/Rdji-ppdLwcsrUGgruGtnlL120c=/fit-in/180x136/master/series/382_vision-110.jpg"
                                             alt="HONDA Vision 110">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA Vision 110
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword=HONDA Airblade 110"
                                   title="HONDA Airblade 110">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/1y56b2T_nASEFhu-BaCs44iKwF8=/fit-in/180x136/master/series/364_airblade-110.jpg"
                                             alt="HONDA Airblade 110">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA Airblade 110
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword= HONDA SH 125" title="HONDA SH 125">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/Ul5YPViyr8vAfbnq-B1zWS7E-ms=/fit-in/180x136/master/series/375_sh-125.jpg"
                                             alt="HONDA SH 125">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA SH 125
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword=HONDA Wave 100"
                                   title="HONDA Wave 100">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/fIKHZ3SlNB_Lota1fN5ObUktk4I=/fit-in/180x136/master/series/396_wave-100.jpg"
                                             alt="HONDA Wave 100">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA Wave 100
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword= HONDA Dream II"
                                   title="HONDA Dream II">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/5oOCNnyShO_UclXOYd5KRncF9so=/fit-in/180x136/master/series/410_dream-ii.jpg"
                                             alt="HONDA Dream II">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA Dream II
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword=HONDA Winner 150"
                                   title="HONDA Winner 150">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/xE2t1Rom8965aZBdmpdpw-BGtDE=/fit-in/180x136/master/series/999_winner-150.jpg"
                                             alt="HONDA Winner 150">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA Winner 150
                                        </h3>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/search-all?keyword=HONDA SH 150i"
                                   title="HONDA SH 150i">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/frontend/img/common/m_no_img.jpg?158440972220200827"
                                             data-src="https://imgwebikevn-8743.kxcdn.com/zELftz84BegEIql8QV_8HHbPy54=/fit-in/180x136/master/series/378_sh-150i.jpg"
                                             alt="HONDA SH 150i">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-text2">
                                            HONDA SH 150i
                                        </h3>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="internal_link">
                <div class="container">
                    <label class="title">Các từ khóa phổ biến</label>
                    <ul>
                        <li>
                            <a href="/search-all?keyword=excite 150"
                               title="Exciter 150">Exciter 150</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=Kawasaki Z1000"
                               title="Kawasaki Z1000">Kawasaki Z1000</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=honda"
                               title="Tên chủ xeHONDA">HONDA</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=yamaha"
                               title="YAMAHA">YAMAHA</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=piaggio"
                               title="PIAGGIO">PIAGGIO</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=sym"
                               title="SYM">SYM</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=suzuki"
                               title="SUZUKI">SUZUKI</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=kawasaki"
                               title="Kawasaki">Kawasaki</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=ducati"
                               title="DUCATI">DUCATI</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=harley-davidson"
                               title="HARLEY-DAVIDSON">HARLEY-DAVIDSON</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=benelli"
                               title="Benelli">Benelli</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=bmw"
                               title="BMW">BMW</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=ktm"
                               title="KTM">KTM</a>
                        </li>
                        <li>
                            <a href="/search-all?keyword=daelim"
                               title="DAELIM">DAELIM</a>
                        </li>
                    </ul>
                </div>
            </section>
        </section>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</div>

<script src="/v1/pc/js/common/jquery.js?152472729920200827"></script>

<script type="text/javascript" src="/v1/vendor/yall/yall-2.1.0.min.js?154996577520200827"></script>
<script src="/v1/vendor/bootstrap/js/bootstrap.min.js?152472729920200827"></script>
<script src="/v1/vendor/slick/slick.js?152472729920200827"></script>
<script src="/v1/vendor/select2/js/select2.min.js?152472729920200827"></script>
<script src="/v1/vendor/other/typeahead.bundle.js?154996577520200827"></script>
<script src="/v1/vendor/other/js-cookie.js?152695796120200827"></script>
<script src="/frontend/moto-v2/pc/js/wvn.js?160015879020200827"></script>
<script src="/v1/pc/js/common/main.js?158210531020200827"></script>
<script src="/frontend/vendor/alertify.js?159169869320200827"></script>
<script src="/v1/pc/js/common/app.js?159852541620200827"></script>
<script src="/frontend/js/fancybox.js?152472729920200827"></script>
<script src="/language_pc.js?v=1.0"></script>
<script src="/frontend/moto-v2/pc/js/common.js?160015879020200827"></script>

<script defer src="/v1/pc/js/common/cookies_shopping.js?152472729920200827"></script>

<script type="text/javascript" src="/frontend/moto-v2/pc/js/sugesstion.js?159852541620200827"></script>
<script type="text/javascript" src="/v1/pc/js/top/topmoto.js?159125667020200827"></script>
<script type="text/javascript" src="/v1/pc/js/top/search_moto_v2.js?159177960820200827"></script>

<script>

    getListOfLatestPosts();

    function getListOfLatestPosts() {
        $.ajax({
            type: "GET",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            url: "/api/post/getListOfLatestPosts",
        }).done(function (data) {
            console.log(data);
            $.each(data, (index, item) => {

                let price;
                if (item.price == null) {
                    price = "Liên hệ";
                } else {
                    price = Intl.NumberFormat('en-US').format(item.price) + "đ";
                }
                console.log(price);
                let postDate = new Date(Date.parse(item.postDate));
                let untilNow = new Date() - postDate;
                let time = "";
                const SECOND = 1000;
                const MINUTE = 60 * SECOND;
                const HOUR = 60 * MINUTE;
                const DAY = 24 * HOUR;
                const WEEK = 7 * DAY;
                const MONTH = 30 * DAY;
                const YEAR = 365 * DAY;

                let arr = [YEAR, MONTH, WEEK, DAY, HOUR, MINUTE];
                let arr2 = ["năm", "tháng", "tuần", "ngày", "giờ", "phút"];

                let count = 0;

                for (let i = 0; count == 0; ++i) {
                    count = (untilNow / arr[i]).toFixed();
                    if (count > 0) {
                        time = count + " " + arr2[i] + " trước";
                    }
                }

                $('#latest-post-list').append(`
                            <li class="col-xs-2">
                                <a href="/post/detailpost/${item.postId}">
                                    <figure class="thumbnail-cover zoom-image">
                                        <img class="lazy" src="/api/image/load/${item.imageDTOList[0].imageName}"
                                             alt="${item.title}">
                                    </figure>
                                    <div class="list-info">
                                        <h3 class="title dotted-line-2" >${item.title}</h3>
                                            <p class="price">${price}</p>
                                        <div class="source">
                                            <span class="time">
                                                <i>${time}</i>
                                            </span>
                                        </div>
                                        <address class="addresslist" >${item.district}<br>${item.province}</address>
                                    </div>
                                </a>
                            </li>
                        `);
            })

        }).fail(function () {


        })
    }
</script>

<div th:replace="~{fragments/script-index :: custom_script}"></div>

</body>
</html>
