<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="vi"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="vi"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="vi"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html lang="vi"  xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Thông tin tài khoản</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1050">
    <link rel="shortcut icon" href="https://www.webike.vn/favicon.png?152472729920200827" type="image/png">
    <script type="text/javascript" src="/v1/vendor/yall/yall-2.1.0.min.js?154996577520200827"></script>
    <link rel="stylesheet" href="/v1/pc/css/template-custom.min.css?155003157820200827">
    <link rel="stylesheet" href="/v1/pc/css/sidemenuoverview.min.css?154996577520200827">
    <link rel="stylesheet" href="/v1/pc/css/delay.min.css?154996577520200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto_market_header.css?159852541620200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto_market_footer.css?159852541620200827">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/sugesstion.css?158926651620200827">

    <link rel="stylesheet" href="/v1/pc/css/manageproduct.min.css?154996577520200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/pages/top.css?159125667020200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto-market.css?160015907620200827">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <style type="text/css">
        #wrapper {
            margin-top: 165px;
        }
    </style>
    <link rel="stylesheet" href="/v1/pc/css/editprofile.min.css?159823768920200827">
    <script type="text/javascript" src="/frontend/moto-v2/pc/js/sugesstion.js?159852541620200827"></script>
    <link rel="stylesheet" type="text/css" href="/frontend/css/error.css">


    <!-- End Google Tag Manager -->

    <div th:replace="~{fragments/header :: header(userLogin=${userLogin})}"></div>

    <section id="wrapper">
        <div class="container">

            <div id="edit-profile" class="media" style="margin-top: 200px">
                <div th:replace="~{fragments/slider-account :: slider-account (userLogin=${userLogin})}"></div>

                <div class="media-body">
                    <input type="hidden"  id="idUserLG" th:value="${userLogin.userId}">
                    <div class="heading-2">
                        <h2  id="head_title_posts">Thông Tin Tài Khoản</h2>
                    </div>
                    <div class="comp_motors grid " id="body_post" style="height: 650px">

                        <form id="form-edit-profile" class="change_info"
                              th:action="@{/user/update-profile}" method="post"
                              enctype="multipart/form-data" name='signup_form' >

                            <div class="form-group change_info_left">
                                <div class="row-group">
                                    <label class="cell-group">
                                        Email
                                    </label>
                                    <div class="cell-group">
                                        <input disabled th:value="${userLogin.email}" name="email" type="text"
                                               placeholder="Email" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row-group">
                                    <label class="cell-group">Số di động </label>
                                    <div class="cell-group input">
                                        <input type="text" disabled  th:value="${userLogin.phoneNumber}" class="form-control" name="add_tel" value=""/>
                                    </div>
                                </div>
                            </div>


                            <div class="change_info_right">
                                <figure class="avarta-main thumbnail" >
                                    <img class="lazy static"
                                         th:src="@{/api/image/load/{avatar}(avatar=${userLogin.avatar})}"
                                         id="avatar">
                                </figure>
                                <label class="btn btn-light upload">
                                    Hình đại diện
                                    <input type="file" style="display: none" name="upLoadAvatar" id="upLoadAvatar"
                                           class="btn btn-light"/>
                                </label>
                            </div>

                            <div class="cell-group">
                                <button style="width: 250px; margin: 0 auto" type="submit" class="btn btn-block btn-danger">Cập nhật</button>
                            </div>

                        </form>
                    </div>

                    <nav id="datatablePagination" aria-label="Activity pagination">
                        <div class="list_bike_paging" id="datatable_paginate">

                        </div>
                    </nav>


                </div>
            </div>
        </div>
        <div class="success" with="300px" th:if="${message}" th:utext="${message}"
             style="color:red;font-style:italic; z-index: 999999; top: 20px; right: 20px; position: fixed">

        </div>
    </section>
    <div th:replace="~{fragments/footer :: footer}"></div>



    <script src="/v1/pc/js/common/jquery.js?152472729920200827"></script>
    <script>
        $("#upLoadAvatar").change(function(){
           readURL(this)
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#avatar')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        const img = document.getElementById("avatar")
        img.addEventListener("error", function(event) {
            event.target.src = "/frontend/default/avatar_default.jpg"
            event.onerror = null
        })

    </script>
    <script>

        let userID = 0;
        $( document ).ready(function() {
            $('.li-menu-moto').filter("[data-id='" + 1 + "']").addClass("active")
            userID = $("#idUserLG").val();
            // if($("#head_title_posts").text()!=='Thông Tin Tài Khoản') {
            //
            //     getPost(userID,"PUBLIC",0,10);
            // }

        });


        $(".li-menu-moto").on("click", function () {
            var dataId = $(this).attr('data-id')
            $('.li-menu-moto').filter("[data-id='" + dataId + "']").addClass("active")
            removeClass(dataId);

            if (dataId == 1){
                $("#datatable_paginate").children().remove();
                $("#head_title_posts").text("Quản lý xe đang bán");
                getPost(userID, "PUBLIC",0,10)
            } else{
                if (dataId == 2){
                    $("#datatable_paginate").children().remove();
                    $("#head_title_posts").text("Quản lý xe đã bán");
                    getPost(userID, "SOLD",0,10)
                } else {
                    if (dataId == 3){
                        $("#datatable_paginate").children().remove();
                        $("#head_title_posts").text("Quản lý xe đã xóa");
                        getPost(userID, "DELETE",0,10)
                    } else{
                        if (dataId == 4){
                            $("#datatable_paginate").children().remove();
                            $("#head_title_posts").text("Quản lý xe đang chờ duyệt");
                            getPost(userID, "WAITING",0,10)
                        }
                    }
                }
            }
        })

        function removeClass(id) {
            let li_menu = document.getElementsByClassName("li-menu-moto");
            for (let i = 0; i < li_menu.length; i++) {
                if ($(li_menu[i]).attr('data-id') !== id ){
                    li_menu[i].classList.remove("active");
                }
            }
        }

        //   API GET POST LIST
        function getPost(userId, status,pageNo, pageSize) {
            $.ajax({
                type: "GET",
                url: "/api/post/"+userId+"/"+status+"?pageNo="+pageNo+"&pageSize="+pageSize
            }).done(function (data) {
                console.log(data);
                if (data.content.length === 0){
                    $.Toast("Tải dữ liệu không hoàn thành hãy thử lại", {
                        'position': 'top',
                        'class': 'alert',
                        'duration': 1500,
                        'width': 400
                    });
                }else {
                    let str = "";
                    $.each(data.content,function (key,value) {
                        let img;

                        if (value.imageDTOList.length === 0) {
                            img = "https://cdnimg.vietnamplus.vn/uploaded/xtsqr/2019_04_12/a2_1.jpg";
                        } else {
                            img ='/api/image/load/'+ value.imageDTOList[0].imageName;
                        }
                        let price;
                        if (value.price==null) {
                            price = "Liên hệ"
                        } else {
                            price = new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'}).format(value.price);
                        }

                        let href;
                        if(status==="DELETE") {
                            href = "#";
                        } else {
                            href   = "/post/detailpost/"+value.postId;
                        }


                        str+= `
                <div class="item">
                        <a
                            href="${href}">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="${img}"
                                     alt="${value.title}"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">${value.title}</p>
                                <p class="status">
                                   ${value.district}/${value.province}
                                </p>
                                <p class="price"><span>${price}</span></p>
                                <p class="date">
                                   ${value.timePeriod}
                                </p>
                            </div>
                        </a>
                    </div>
                `

                    })
                    $("#body_post").html(str);
                    if (data.totalPages <= 1) {
                        $("#datatablePagination").css("display", "none");
                    } else {
                        let pagination = drawPaginationEntries(data);
                        $("#datatable_paginate").append(drawPaginationPrevAndNext());
                        $("#datatable_pagination li:first").after(pagination);
                        $("#datatablePagination").css("display", "");
                        changePageEntries(userId,status);
                        doPrevPage(userId,status);
                        doNextPage(Number(data.totalPages-1),userId,status);
                    }
                }
            })
        }


        function drawPaginationEntries(data) {
            let pagination = "";
            for (let i = 0; i < data.totalPages; i++) {

                if (data.pageNo === i) {
                    pagination += ` <li class="paginate_item page-item active"><a class="paginate_button page-link"
                                                                                      aria-controls="datatable"
                                                                                      data-id="${''+i}" tabindex="0">${i + 1}</a>
                                        </li>`
                } else {
                    pagination += ` <li class="paginate_item page-item "><a class="paginate_button page-link"
                                                                                      aria-controls="datatable"
                                                                                      data-id="${''+i}" tabindex="0">${i + 1}</a>
                                        </li>`
                }
            }
            return pagination;
        }

        function changePageEntries(userId,status) {
            $(".paginate_button").on("click",function () {
                let pageNo = $(this).data("id");
                getPost(userId,status,pageNo,10);
            })
        }
        function doPrevPage(userId,status) {
            $("#datatable_previous").on("click",function () {
                let pageNo = $("#datatable_pagination li.active a").data("id");
                if (pageNo>0) {
                    pageNo-=1;
                    getPost(userId,status,pageNo,10)
                }
            })
        }
        function doNextPage(data,userId,status) {
            $("#datatable_next").on("click",function () {
                let pageNo = $("#datatable_pagination li.active a").data("id");
                if (pageNo<data) {
                    pageNo+=1;
                    getPost(userId,status,pageNo,10)
                }
            })
        }
        function drawPaginationPrevAndNext() {
            $("#datatable_paginate ul").remove();
            return `<ul id="datatable_pagination" class="pagination datatable-custom-pagination">
                                        <li class="paginate_item page-item "><a
                                                class="paginate_button previous page-link" aria-controls="datatable"
                                                 tabindex="-1" id="datatable_previous"><span
                                                aria-hidden="true">Prev</span></a></li>

                                        <li class="paginate_item page-item"><a class="paginate_button next page-link"
                                                                               aria-controls="datatable"
                                                                               tabindex="0" id="datatable_next"><span
                                                aria-hidden="true">Next</span></a></li>
                                    </ul>`
        }
    </script>

    <!--    <script src="/v1/vendor/bootstrap/js/bootstrap.min.js?152472729920200827"></script>-->
    <!--    <script src="/v1/vendor/slick/slick.js?152472729920200827"></script>-->
    <!--    <script src="/v1/vendor/select2/js/select2.min.js?152472729920200827"></script>-->
    <!--    <script src="/v1/vendor/other/typeahead.bundle.js?154996577520200827"></script>-->
    <!--    <script src="/v1/vendor/other/js-cookie.js?152695796120200827"></script>-->
    <!--    <script type="text/javascript" src="https://www.webike.vn/v1/vendor/yall/yall-2.1.0.min.js?154996577520200827">-->
    <!--    </script>-->
    <!--    <script src="/v1/pc/js/common/02-wvn.js?152695796120200827"></script>-->
    <!--    <script src="/v1/pc/js/common/main.js?158210531020200827"></script>-->
    <!--    <script src="/v1/pc/js/common/app.js?159852541620200827"></script>-->
    <!--    <script src="/frontend/js/fancybox.js?152472729920200827"></script>-->
    <!--    <script>-->
    <!--        var form_changepass = $('#form-changepass');-->

    <!--        form_changepass.validate({-->
    <!--            rules: {-->
    <!--                passwd: {-->
    <!--                    required: true,-->
    <!--                    minlength: 8,-->
    <!--                    remote: {-->
    <!--                        url: $('#ajax_post_check_old_password').val(),-->
    <!--                        type: 'POST',-->
    <!--                        dataType: 'JSON',-->
    <!--                        data: {-->
    <!--                            passwd: function () {-->
    <!--                                return form_changepass.find('input[name="passwd"]').val();-->
    <!--                            }-->
    <!--                        }-->
    <!--                    }-->
    <!--                },-->
    <!--                newpass: {-->
    <!--                    required: true,-->
    <!--                    minlength: 8-->
    <!--                },-->
    <!--                confirmPasswd: {-->
    <!--                    required: true,-->
    <!--                    equalTo: 'input[name="newpass"]'-->
    <!--                }-->
    <!--            },-->
    <!--            messages: {-->
    <!--                passwd: {-->
    <!--                    required: '<span class="error-message">Vui lòng mật khẩu cũ</span>',-->
    <!--                    minlength: '<span class="error-message">Vui lòng nhập 8 ký tự trở lên</span>',-->
    <!--                    remote: '<span class="error-message">Sai mật khẩu</span>'-->
    <!--                },-->
    <!--                newpass: {-->
    <!--                    required: '<span class="error-message">Vui lòng mật khẩu mới</span>',-->
    <!--                    minlength: '<span class="error-message">Vui lòng nhập 8 ký tự trở lên</span>'-->
    <!--                },-->
    <!--                confirmPasswd: {-->
    <!--                    required: '<span class="error-message">Vui lòng lại mật khẩu mới</span>',-->
    <!--                    equalTo: '<span class="error-message">Vui lòng nhập giống mật khẩu mới</span>'-->
    <!--                }-->
    <!--            }-->
    <!--        });-->

    <!--        form_changepass.submit(function (event) {-->
    <!--            if (form_changepass.valid() == false) {-->
    <!--                return false;-->
    <!--            }-->
    <!--            return true;-->
    <!--        });-->
    <!--    </script>-->


    <!--    <script>-->
    <!--        var form = $('#form-edit-profile'),-->
    <!--            email = form.find('input[name="email"]'),-->
    <!--            phone = form.find('input[name="add_tel"]'),-->
    <!--            passwd = form.find('input[name="passwd"]'),-->
    <!--            passwd2 = form.find('input[name="confirmPasswd"]'),-->
    <!--            btn_submit = form.find('button[type="submit"]'),-->
    <!--            errors = form.find('#error_profile'),-->

    <!--            // GLOBAL API: province ~ state-->
    <!--            province = form.find('select[name="province_code"]'),-->
    <!--            add_state = form.find('input[name="add_state"]'),-->

    <!--            // GLOBAL API: district ~ city-->
    <!--            district = form.find('select[name="district_code"]'),-->
    <!--            add_city = form.find('input[name="add_city"]');-->

    <!--        form.validate({-->
    <!--            rules: {-->
    <!--                province_code: {-->
    <!--                    required: true,-->
    <!--                },-->
    <!--                district_code: {-->
    <!--                    required: true,-->
    <!--                },-->
    <!--                name_first: {-->
    <!--                    required: true,-->
    <!--                    minlength: 2,-->
    <!--                },-->
    <!--                name_last: {-->
    <!--                    required: true,-->
    <!--                    minlength: 2,-->
    <!--                },-->
    <!--                add_s1: {-->
    <!--                    required: true,-->
    <!--                    minlength: 5,-->
    <!--                },-->
    <!--                email: {-->
    <!--                    required: true,-->
    <!--                    email: true,-->
    <!--                    remote: {-->
    <!--                        url: $('#ajax_check_unique_email').val(),-->
    <!--                        type: 'POST',-->
    <!--                        dataType: 'JSON',-->
    <!--                        data: {-->
    <!--                            email: function () {-->
    <!--                                return email.val();-->
    <!--                            }-->
    <!--                        }-->

    <!--                    }-->
    <!--                },-->
    <!--                add_tel: {-->
    <!--                    required: true,-->
    <!--                    minlength: 9,-->
    <!--                    remote: {-->
    <!--                        url: $('#ajax_check_unique_phone').val(),-->
    <!--                        type: 'POST',-->
    <!--                        dataType: 'JSON',-->
    <!--                        data: {-->
    <!--                            add_tel: function () {-->
    <!--                                return phone.val();-->
    <!--                            }-->
    <!--                        }-->
    <!--                    }-->
    <!--                },-->
    <!--                passwd: {-->
    <!--                    required: true,-->
    <!--                    minlength: 8,-->
    <!--                    remote: {-->
    <!--                        url: $('#ajax_post_check_old_password').val(),-->
    <!--                        type: 'POST',-->
    <!--                        dataType: 'JSON',-->
    <!--                        data: {-->
    <!--                            passwd: function () {-->
    <!--                                return passwd.val();-->
    <!--                            }-->
    <!--                        }-->
    <!--                    }-->

    <!--                },-->
    <!--                confirmPasswd: {-->
    <!--                    required: true,-->
    <!--                    equalTo: form.find('input[name="passwd"]'),-->
    <!--                }-->
    <!--            },-->
    <!--            messages: {-->
    <!--                add_s1: {-->
    <!--                    required: '<span class="error-message">Hãy nhập địa chỉ</span>',-->
    <!--                    minlength: '<span class="error-message">Nhập 5 kí tự trở lên</span>',-->
    <!--                },-->
    <!--                add_tel: {-->
    <!--                    required: '<span class="error-message">Hãy nhập số điện thoại</span>',-->
    <!--                    minlength: '<span class="error-message">Nhập 9 kí tự trở lên</span>',-->
    <!--                    remote: '<span class="error-message">Số điện thoại đã tồn tại</span>',-->
    <!--                },-->
    <!--                email: {-->
    <!--                    required: '<span class="error-message">Vui lòng nhập email</span>',-->
    <!--                    email: '<span class="error-message">Vui lòng nhập đúng định dạng email: example@mail.com</span>',-->
    <!--                    remote: '<span class="error-message">Email đã tồn tại</span>'-->
    <!--                },-->
    <!--                passwd: {-->
    <!--                    required: '<span class="error-message">Vui lòng mật khẩu</span>',-->
    <!--                    minlength: '<span class="error-message">Vui lòng nhập 8 ký tự trở lên</span>',-->
    <!--                    remote: '<span class="error-message">Sai mật khẩu</span>'-->
    <!--                },-->
    <!--            },-->
    <!--            success: "valid"-->
    <!--        });-->
    <!--        form.submit(function (event) {-->
    <!--            $('#verify-phone').val('https://www.webike.vn/authentication-sms.html?phone=' + $(-->
    <!--                'input[name=add_tel]').val());-->
    <!--            if (form.valid() == false) {-->
    <!--                return false;-->
    <!--            }-->
    <!--            return true;-->
    <!--        });-->
    <!--    </script>-->


    </body>

</html>