<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="vi"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="vi"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="vi"> <![endif]-->
<!--[if gt IE 8]>
<!-->
<html lang="vi" ng-app="" class="no-js"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Quản lý xe đã bán</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1050">
    <link rel="shortcut icon" href="/favicon.png?152472729920200827" type="image/png">
    <link rel="stylesheet" href="/v1/pc/css/template.min.css?155003157820200827">
    <link rel="stylesheet" href="/v1/pc/css/sidemenuoverview.min.css?154996577520200827">
    <link rel="stylesheet" href="/v1/pc/css/delay.min.css?154996577520200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto_market_header.css?159852541620200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto_market_footer.css?159852541620200827">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/sugesstion.css?158926651620200827">
    <style type="text/css">#wrapper {
        margin-top: 165px;
    }</style>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/v1/pc/css/manageproduct.min.css?154996577520200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/pages/top.css?159125667020200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto-market.css?160015907620200827">

    <style>
        .comp_motors.grid .item {
            width: 180px;
            padding: 0;
            margin: 6px;
            margin-right: 12px;
            display: inline-block;
        }
    </style>

</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="15">

<!-- Google Tag Manager -->

<div th:replace="~{fragments/header :: header(userLogin=${userLogin})}"></div>

<section id="wrapper" style="margin-top: 200px">
    <div class="container" >

        <div id="manage_product" class="media" >
            <div th:replace="~{fragments/slider-account :: slider-account (userLogin=${userLogin})}"></div>

            <div class="media-body">
                <div class="heading-2">
                    <h2>Quản lý xe đã bán</h2>
                </div>
                <div class="comp_motors grid " style="height: 650px">
                    <div class="item">
                        <a
                                href="https://www.webike.vn/cho-xe-may/bike-detail/can-ban-yamaha-nvx-155-2017-den-trang-xe-cu-1922891.html?utm_campaign=wvn&amp;utm_source=404page&amp;utm_medium=suggest_bike&amp;utm_content=bottom">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="https://www.webike.vn/frontend/img/common/m_no_img.jpg?158440972220200827"
                                     data-src="https://imgwebikevn-8743.kxcdn.com/L-jRokTZBpRkCmwImcTCgx2V2AI=/178x134/product/2022/03/08/ad3bab1c5243ea9b38637ab3b5660d69.jpg"
                                     alt="Ban xe YAMAHA NVX 155 2017 cu o An Giang gia 23tr"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">Cần bán YAMAHA NVX 155 2017 Đen
                                    Trắng Xe Cũ1922891</p>
                                <p class="status">
                                    Long Xuyên / An Giang
                                </p>
                                <p class="price"><span>23.000.000 VNĐ</span></p>
                                <p class="date">
                                    6 giờ trước
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a
                                href="https://www.webike.vn/cho-xe-may/bike-detail/can-ban-yamaha-nvx-155-2017-den-trang-xe-cu-1922891.html?utm_campaign=wvn&amp;utm_source=404page&amp;utm_medium=suggest_bike&amp;utm_content=bottom">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="https://www.webike.vn/frontend/img/common/m_no_img.jpg?158440972220200827"
                                     data-src="https://imgwebikevn-8743.kxcdn.com/L-jRokTZBpRkCmwImcTCgx2V2AI=/178x134/product/2022/03/08/ad3bab1c5243ea9b38637ab3b5660d69.jpg"
                                     alt="Ban xe YAMAHA NVX 155 2017 cu o An Giang gia 23tr"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">Cần bán YAMAHA NVX 155 2017 Đen
                                    Trắng Xe Cũ1922891</p>
                                <p class="status">
                                    Long Xuyên / An Giang
                                </p>
                                <p class="price"><span>23.000.000 VNĐ</span></p>
                                <p class="date">
                                    6 giờ trước
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a
                                href="https://www.webike.vn/cho-xe-may/bike-detail/can-ban-yamaha-nvx-155-2017-den-trang-xe-cu-1922891.html?utm_campaign=wvn&amp;utm_source=404page&amp;utm_medium=suggest_bike&amp;utm_content=bottom">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="https://www.webike.vn/frontend/img/common/m_no_img.jpg?158440972220200827"
                                     data-src="https://imgwebikevn-8743.kxcdn.com/L-jRokTZBpRkCmwImcTCgx2V2AI=/178x134/product/2022/03/08/ad3bab1c5243ea9b38637ab3b5660d69.jpg"
                                     alt="Ban xe YAMAHA NVX 155 2017 cu o An Giang gia 23tr"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">Cần bán YAMAHA NVX 155 2017 Đen
                                    Trắng Xe Cũ1922891</p>
                                <p class="status">
                                    Long Xuyên / An Giang
                                </p>
                                <p class="price"><span>23.000.000 VNĐ</span></p>
                                <p class="date">
                                    6 giờ trước
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a
                                href="https://www.webike.vn/cho-xe-may/bike-detail/can-ban-yamaha-nvx-155-2017-den-trang-xe-cu-1922891.html?utm_campaign=wvn&amp;utm_source=404page&amp;utm_medium=suggest_bike&amp;utm_content=bottom">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="https://www.webike.vn/frontend/img/common/m_no_img.jpg?158440972220200827"
                                     data-src="https://imgwebikevn-8743.kxcdn.com/L-jRokTZBpRkCmwImcTCgx2V2AI=/178x134/product/2022/03/08/ad3bab1c5243ea9b38637ab3b5660d69.jpg"
                                     alt="Ban xe YAMAHA NVX 155 2017 cu o An Giang gia 23tr"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">Cần bán YAMAHA NVX 155 2017 Đen
                                    Trắng Xe Cũ1922891</p>
                                <p class="status">
                                    Long Xuyên / An Giang
                                </p>
                                <p class="price"><span>23.000.000 VNĐ</span></p>
                                <p class="date">
                                    6 giờ trước
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a
                                href="https://www.webike.vn/cho-xe-may/bike-detail/can-ban-yamaha-nvx-155-2017-den-trang-xe-cu-1922891.html?utm_campaign=wvn&amp;utm_source=404page&amp;utm_medium=suggest_bike&amp;utm_content=bottom">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="https://www.webike.vn/frontend/img/common/m_no_img.jpg?158440972220200827"
                                     data-src="https://imgwebikevn-8743.kxcdn.com/L-jRokTZBpRkCmwImcTCgx2V2AI=/178x134/product/2022/03/08/ad3bab1c5243ea9b38637ab3b5660d69.jpg"
                                     alt="Ban xe YAMAHA NVX 155 2017 cu o An Giang gia 23tr"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">Cần bán YAMAHA NVX 155 2017 Đen
                                    Trắng Xe Cũ1922891</p>
                                <p class="status">
                                    Long Xuyên / An Giang
                                </p>
                                <p class="price"><span>23.000.000 VNĐ</span></p>
                                <p class="date">
                                    6 giờ trước
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a
                                href="https://www.webike.vn/cho-xe-may/bike-detail/can-ban-yamaha-nvx-155-2017-den-trang-xe-cu-1922891.html?utm_campaign=wvn&amp;utm_source=404page&amp;utm_medium=suggest_bike&amp;utm_content=bottom">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="https://www.webike.vn/frontend/img/common/m_no_img.jpg?158440972220200827"
                                     data-src="https://imgwebikevn-8743.kxcdn.com/L-jRokTZBpRkCmwImcTCgx2V2AI=/178x134/product/2022/03/08/ad3bab1c5243ea9b38637ab3b5660d69.jpg"
                                     alt="Ban xe YAMAHA NVX 155 2017 cu o An Giang gia 23tr"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">Cần bán YAMAHA NVX 155 2017 Đen
                                    Trắng Xe Cũ1922891</p>
                                <p class="status">
                                    Long Xuyên / An Giang
                                </p>
                                <p class="price"><span>23.000.000 VNĐ</span></p>
                                <p class="date">
                                    6 giờ trước
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a
                                href="https://www.webike.vn/cho-xe-may/bike-detail/can-ban-yamaha-nvx-155-2017-den-trang-xe-cu-1922891.html?utm_campaign=wvn&amp;utm_source=404page&amp;utm_medium=suggest_bike&amp;utm_content=bottom">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="https://www.webike.vn/frontend/img/common/m_no_img.jpg?158440972220200827"
                                     data-src="https://imgwebikevn-8743.kxcdn.com/L-jRokTZBpRkCmwImcTCgx2V2AI=/178x134/product/2022/03/08/ad3bab1c5243ea9b38637ab3b5660d69.jpg"
                                     alt="Ban xe YAMAHA NVX 155 2017 cu o An Giang gia 23tr"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">Cần bán YAMAHA NVX 155 2017 Đen
                                    Trắng Xe Cũ1922891</p>
                                <p class="status">
                                    Long Xuyên / An Giang
                                </p>
                                <p class="price"><span>23.000.000 VNĐ</span></p>
                                <p class="date">
                                    6 giờ trước
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a
                                href="https://www.webike.vn/cho-xe-may/bike-detail/can-ban-yamaha-nvx-155-2017-den-trang-xe-cu-1922891.html?utm_campaign=wvn&amp;utm_source=404page&amp;utm_medium=suggest_bike&amp;utm_content=bottom">
                            <figure>
                                <img width="194" height="155" class="lazy"
                                     src="https://www.webike.vn/frontend/img/common/m_no_img.jpg?158440972220200827"
                                     data-src="https://imgwebikevn-8743.kxcdn.com/L-jRokTZBpRkCmwImcTCgx2V2AI=/178x134/product/2022/03/08/ad3bab1c5243ea9b38637ab3b5660d69.jpg"
                                     alt="Ban xe YAMAHA NVX 155 2017 cu o An Giang gia 23tr"/>
                            </figure>
                            <div class="motor-info">
                                <ul class="tag-state">
                                    <li class="old-tag">Cũ</li>
                                </ul>
                                <p class="title dotted-line-2">Cần bán YAMAHA NVX 155 2017 Đen
                                    Trắng Xe Cũ1922891</p>
                                <p class="status">
                                    Long Xuyên / An Giang
                                </p>
                                <p class="price"><span>23.000.000 VNĐ</span></p>
                                <p class="date">
                                    6 giờ trước
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>

<script src="/frontend/vendor/jquery.js?158926651720200827"></script>

<script>


    $( document ).ready(function() {
        $('.li-menu-moto').filter("[data-id='" + 1 + "']").addClass("active")
    });


    $(".li-menu-moto").on("click", function () {
        var dataId = $(this).attr('data-id')
        $('.li-menu-moto').filter("[data-id='" + dataId + "']").addClass("active")
        removeClass(dataId);
        
        if (dataId == 1){
            getPostOnsale()
        } else{
            if (dataId == 2){
                getPostsold()
            } else {
                if (dataId == 3){
                    getPostDeleted()
                } else{
                    if (dataId == 4){
                     getPostwaiting()
                    }
                }
            }
        }
    })

    function removeClass(id) {
        let li_menu = document.getElementsByClassName("li-menu-moto");
        for (let i = 0; i < li_menu.length; i++) {
            if ($(li_menu[i]).attr('data-id') !== id ){
                li_menu[i].classList.remove("active");
            }
        }
    }

//   API GET POST LIST 
    function getPostOnsale() {
        
    }

    function getPostsold() {

    }

    function getPostDeleted() {

    }

    function getPostwaiting() {

    }

</script>
</body>
</html>