<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng tin bán xe</title>
    <link rel="shortcut icon" href="https://www.webike.vn/favicon.png?152472729920200827" type="image/x-icon">
    <link rel="dns-prefetch" href="https://www.webike.vn"/>
    <link rel="preconnect" href="https://www.webike.vn"/>

    <link rel="dns-prefetch" href="https://imgwebikevn-8743.kxcdn.com"/>
    <link rel="preconnect" href="https://imgwebikevn-8743.kxcdn.com" crossorigin/>

    <link rel="dns-prefetch" href="https://webikevn-8743.kxcdn.com/"/>
    <link rel="preconnect" href="https://webikevn-8743.kxcdn.com/" crossorigin/>

    <link rel="dns-prefetch" href="//www.googletagmanager.com"/>
    <link rel="preconnect" href="//www.googletagmanager.com" crossorigin/>

    <link rel="dns-prefetch" href="//www.google-analytics.com"/>
    <link rel="preconnect" href="//www.google-analytics.com" crossorigin/>

    <link rel="dns-prefetch" href="//stats.g.doubleclick.net"/>
    <link rel="dns-prefetch" href="//www.googletagservices.com"/>
    <link rel="dns-prefetch" href="//adservice.google.com"/>
    <link rel="dns-prefetch" href="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"/>

    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto-market.css?160015907620200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/pages/moto-market-layout.css?159169869320200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/common.css?159833824020200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/pages/maker-detail-custom.css?159368123420200827">
    <meta name="robots" content="noindex,nofollow">

    <link rel="alternate" href="https://www.webike.vn/cho-xe-may/dang-tin-ban-xe.html" hreflang="vi-VN"/>
    <link rel="canonical" href="https://www.webike.vn/cho-xe-may/dang-tin-ban-xe.html"/>


    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>

    <meta property="fb:app_id" content="737423636393565"/>
    <script src="/frontend/moto-v2/pc/js/defer_plus.min.js?158926651620200827"></script>

    <script type="text/javascript">
        // This will lzay-load FontAwesome icons
        deferstyle(
            'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900,900i&display=swap&subset=vietnamese',
            'roboto-css', 50);
    </script>

    <link rel="manifest" href="https://www.webike.vn/manifest.json?152472729920200827">

    <script type="text/javascript">
        deferscript('//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js');
    </script>
    <link rel="stylesheet" type="text/css"
          href="/frontend/moto-v2/pc/css/vendor/trumbowyg/trumbowyg.min.css?160015879020200827">
    <link rel="stylesheet" type="text/css" href="/v1/vendor/select2/css/select2.min.css?152472729920200827"
          media="screen" onload="media='screen'">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/common.css?159833824020200827">
    <link rel="stylesheet" type="text/css" href="/v1/vendor/font-awesome/css/font-awesome.min.css?152472729920200827"
          media="screen" onload="media='screen'">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/pages/create_product.css?160015879020200827">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/pages/top.css?159125667020200827">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="/frontend/vendor/alertify/alertify.min.css?160015879020200827"/>
    <style type="text/css">
        .trumbowyg-box,
        .trumbowyg-editor {
            min-height: 9em;
        }

        .alertify {
            position: relative;
            display: contents;
        }

        .ajs-no-overflow {
            overflow: auto !important;
        }
    </style>
</head>

<body>
<script type="text/javascript">
    var FB_APP_ID = '737423636393565';
</script>


<!-- Google Tag Manager -->
<noscript>
    <iframe data-ignore title="ga" src="https://www.googletagmanager.com/ns.html?id=GTM-K4KD8N" height="0"
            width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<!-- End Google Tag Manager -->
<div id="main">
    <div th:replace="~{fragments/header :: header}"></div>
    <section class="wrapper create-product">
        <input type="hidden" id="post_data_series" value="https://www.webike.vn/post-data-series"/>
        <input type="hidden" id="post_data_product_odo" value="https://www.webike.vn/post-data-product-odo"/>
        <input type="hidden" id="sign_up_get_firebase" value="https://www.webike.vn/authentication-sms.html"/>
        <input type="hidden" id="manage_product" value="https://www.webike.vn/account/manage-product.html"/>

        <input type="hidden" id="customer_id" value=""/>
        <input type="hidden" id="ajax_check_contact_for_post_bike"
               value="https://www.webike.vn/ajax/check_contact_for_post_bike.json"/>
        <input type="hidden" id="edit_profile_get" value="https://www.webike.vn/account/edit-profile.html"/>
        <form method="POST" action="https://www.webike.vn/cho-xe-may/dang-tin-ban-xe.html" accept-charset="UTF-8"
              name="signup_form" id="product-editor" enctype="multipart/form-data"><input name="_token" type="hidden"
                                                                                          value="fsMZCcHkbYAJErpViiBBJhuXk47mIxVqOiMApzQY">

            <div class="container">
                <section>
                    <ul class="breadcrumb">
                        <li><a href="https://www.webike.vn">Trang chủ</a></li>
                        <li>
                            <a href="https://www.webike.vn/cho-xe-may.html" title="Chợ xe may"
                               property="item" typeof="WebPage">Chợ xe may</a>
                            <meta property="position" content="1">
                        </li>

                        <li>
                            <span property="name">Đăng tin bán xe</span>
                            <meta property="position" content="1">
                        </li>
                    </ul>
                </section>

                <div class="contents">
                    <div class="col-left">
                        <div class="block bg-white">
                            <div class="title-h1">
                                <h1>Đăng ban xe của bạn</h1>
                            </div>
                            <div class="sub-title">
                                <p>Điền đầy đủ thông tin giúp khách hàng dễ tìm xe</p>
                            </div>

                            <div class="filter-model " id="target_info">
                                <div class="filter-col ">
                                    <div class="f-top bg-white">
                                        <div class="input-search">
                                            <div class="icon_search"><i class="icon icon-search"></i></div>
                                            <input id="list-brand-filter" class="list-filter"
                                                   data-target="#filter-brand-list" placeholder="Hãng xe"
                                                   required="true">
                                        </div>
                                    </div>
                                    <div class="f-bottom bg-white">
                                        <div class="input-list">
                                            <ul id="filter-brand-list" class="custom_scroll">


                                            </ul>
                                        </div>
                                    </div>
                                    <label class="msg_warning hide"></label>
                                </div>

                                <div class="filter-col ">
                                    <div class="f-top bg-white">
                                        <div class="input-search">
                                            <div class="icon_search"><i class="icon icon-search"></i></div>
                                            <input id="list-series-filter" class="list-filter"
                                                   data-target="#filter-series-list" placeholder="Dòng xe"
                                                   required="true">
                                        </div>
                                    </div>
                                    <div class="f-bottom bg-white">
                                        <div class="input-list">
                                            <ul id="filter-series-list" class="custom_scroll">
                                            </ul>
                                        </div>
                                    </div>
                                    <label class="msg_warning hide"></label>
                                </div>

                                <div class="filter-col ">
                                    <div class="f-top bg-white">
                                        <div class="input-search">
                                            <div class="icon_search"><i class="icon icon-search"></i></div>
                                            <input id="list-year-filter" name="list-year-filter" class="list-filter"
                                                   data-target="#filter-year-list" placeholder="Đời xe">
                                        </div>
                                    </div>
                                    <div class="f-bottom bg-white">
                                        <div class="input-list">
                                            <ul id="filter-year-list" class="custom_scroll">
                                            </ul>
                                        </div>
                                    </div>
                                    <input type="hidden" name="" class="model_year_tmp" value="">
                                    <label class="msg_warning hide"></label>
                                </div>

                                <div class="filter-col ">
                                    <div class="f-top bg-white">
                                        <div class="input-search">
                                            <div class="icon_search"><i class="icon icon-search"></i></div>
                                            <input id="list-color-filter" class="list-filter"
                                                   data-target="#filter-color-list" placeholder="Màu xe"
                                                   required="true">
                                        </div>
                                    </div>
                                    <div class="f-bottom bg-white">
                                        <div class="input-list">
                                            <ul class="custom_scroll" id="filter-color-list">

                                            </ul>
                                        </div>
                                    </div>
                                    <label class="msg_warning hide"></label>
                                </div>
                            </div>

                            <div class="info-bike">
                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Xe bạn đang chọn:
                                        </label>
                                    </div>
                                    <div class="item-center" id="temp_description"></div>
                                    <div class="item-right"></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Hình thức sở hữu
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <select name="" id="">
                                        <option value="1">Chính chủ</option>
                                        <option value="2">Không Chính chủ</option>
                                    </select>
                                </div>
                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Số km đã đi
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="select2-style select_odo">
                                            <select placeholder="Đa đi" autocomplete="1" data-hide-search="1"
                                                    id="product_odo" class="form-control" required="true"
                                                    name="odo_code">
                                                <option value="" selected="selected"></option>
                                                <option value="1">0 - 4 999</option>
                                                <option value="2">5 000 - 9 999</option>
                                                <option value="3">10 000 - 14 999</option>
                                                <option value="4">15 000 - 19 999</option>
                                                <option value="5">20 000 - 24 999</option>
                                                <option value="6">25 000 - 29 999</option>
                                                <option value="7">30 000 - 34 999</option>
                                                <option value="8">35 000 - 39 999</option>
                                                <option value="9">40 000 - 44 999</option>
                                                <option value="10">45 000 - 49 999</option>
                                                <option value="11">50 000 - 59 999</option>
                                                <option value="12">60 000 - 69 999</option>
                                                <option value="13">70 000 - 79 999</option>
                                                <option value="14">80 000 - 89 999</option>
                                                <option value="15">90 000 - 99 999</option>
                                                <option value="16">&gt; 100 000</option>
                                                <option value="0">Không rõ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Tiêu đề
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="input-style1">
                                            <input required="true" class="" id="title-post" type="text" name="product_description"
                                                   maxlength="100" value="">
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>
                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Mô tả
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="textarea-style1">
                                                <textarea required="true"
                                                          name="product_other_description" rows="5"
                                                          class="form-control"></textarea>
                                        </div>
                                        <label class="msg_warning msg_other_desc hide"></label>
                                    </div>
                                    <div class="item-right"></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Giá tiền
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center ">
                                        <div class="input-style1 input_price">
                                            <div class="unit"><span>đ</span></div>
                                            <input required="true" type="text" id="product_price_tmp"
                                                   name="product_price_tmp" value="">
                                            <input class="" type="hidden" name="product_price" value="">
                                        </div>
                                        <label class="msg_warning hide"></label>
                                    </div>
                                    <div class="item-right">
                                        <label class="checkbox">
                                            <input type="checkbox" name="contact_price">
                                            <span class="checkmark"></span>
                                            Liên hệ
                                        </label>
                                    </div>
                                </div>

                                <div class="items no-padding hide">
                                    <div class="item-left"></div>
                                    <div class="item-center">
                                        <label class="msg_warning msg_warning_price"></label>
                                    </div>
                                    <div class="item-right"></div>
                                </div>
                                <div class="items no-padding">
                                    <div class="item-left"></div>
                                    <div class="item-center">
                                        <p class="msg-notice text-orange">Tổng giá tiền. Giá cuối cùng khách hàng
                                            thanh toán để nhận xe.</p>
                                    </div>
                                    <div class="item-right"></div>
                                </div>

                                <div class="items hide">
                                    <div class="item-left">
                                        <label class="label">
                                            Số tiền bằng chữ:
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <p id="txtMoney"></p>
                                    </div>
                                    <div class="item-right"></div>
                                </div>
                            </div>
                        </div>

                        <div class="block bg-white" id="target_photo">
                            <div class="title-h1">
                                <span>Hình ảnh</span>
                            </div>
                            <div class="info-bike" id="photo_holder" data-max-photos="9">

                                <div class="item-photo add_more" data-index="">
                                    <label class="upload">
                                        <figure class="thumbnail">
                                            <img class="static">
                                            <em class="icon p-upload"></em>
                                        </figure>
                                        <a href="#" data-select="Chọn hình" data-remove="Xóa hình">
                                            Thêm ảnh
                                        </a>
                                        <input class="" type="file" multiple accept="image/*">
                                    </label>
                                    <p class="errmsg help-block small error_photo_0"></p>
                                </div>
                            </div>

                            <div class="info-bike">
                                <label class="msg_warning_photo msg_warning hide"></label>
                            </div>
                        </div>

                        <div class="block bg-white" id="target_contact">
                            <div class="title-h1">
                                <span>Thông tin liên hệ</span>
                            </div>
                            <div class="info-bike">
                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Họ tên liên hệ
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center ">
                                        <div class="input-style1">
                                            <input required="true" type="text" name="contact_name" value="">
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Số điện thoại
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center ">
                                        <div class="input-style1">
                                            <input required="true" type="text" name="contact_phone"
                                                   id="contact_phone" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Tỉnh thành
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="select2-style">
                                            <select placeholder="Khu vực" autocomplete="1" id="province_code"
                                                    class="form-control" required="true" name="province_code">
                                                <option value="14">Tuyên Quang</option>
                                                <option value="63">Vĩnh Long</option>
                                                <option value="25">Vĩnh Phúc</option>
                                                <option value="15">Yên Bai</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Quận huyện
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="select2-style">
                                            <select placeholder="Quận/huyện" autocomplete="1" id="district_code"
                                                    class="form-control" required="true" name="district_code">

                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items pass_field hide">
                                    <div class="item-left">
                                        <label>
                                            Mật khẩu
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="input-style1">
                                            <input type="password" name="passwd">
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items pass_field hide">
                                    <div class="item-left">
                                        <label>
                                            Xác nhận mật khẩu
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="input-style1">
                                            <input type="password" name="confirmPasswd">
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items pass_field hide">
                                    <div class="item-left"></div>
                                    <div class="item-center">
                                        <p class="msg-notice text-orange">Nhập mật khẩu để tạo tài khoản đăng xe.
                                        </p>
                                    </div>
                                    <div class="item-right"></div>
                                </div>
                            </div>
                        </div>

                        <div class="block text-right bg-white group-button inner-wrap-sticky bottom_sticky">
                            <div class="items">
                                <div class="btn_post">
                                    <button type="submit" id="cancel_btn"
                                            class="btn btn-gray btn-post-bike">Đóng
                                    </button>
                                </div>


                                <div class="btn_post">
                                    <button type="submit" id="submit_btn" class="btn btn-danger btn-post-bike">Đăng
                                        xe
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-right inner-wrap-sticky">
                        <div class="block bg-white">
                            <div class="block-fixed">
                                <ul class="step">
                                    <li class="active">
                                        <a class="media" href="#target_info">
                                            <div><i class="icon icon-info"></i></div>
                                            <span class="media-body">Thông tin cơ bản</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="media" href="#target_photo">
                                            <div><i class="icon icon-camera"></i></div>
                                            <span class="media-body">Hình ảnh</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="media" href="#target_contact">
                                            <div><i class="icon icon-contact"></i></div>
                                            <span class="media-body">Thông tin liên hệ</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="block">
                            <div class="bg-light-orange block-fixed hide" id="block_notice">
                                <div class="items-notice title ">
                                    <span class="s-title text-orange">Để bán nhanh hơn!</span>
                                </div>
                                <div class="items-notice">
                                    <span class="s-title text-orange">Nên mô tả bằng Tiếng Việt có dấu</span>
                                    <p>- Tình trạng chiếc xe.</p>
                                    <p>- Thời gian sử dụng.</p>
                                    <p>- Bảo trì xe: bao lâu/1 lần.</p>
                                    <p>- Tình trạng giấy tờ.</p>
                                </div>
                                <div class="items-notice">
                                    <span class="s-title text-orange">Lưu ý:</span>
                                    <p><b>- Không điền số điện thoại/email/website ở đây.</b></p>
                                </div>
                                <div class="items-notice">
                                    <span class="s-title text-orange">Mẹo bán liền tay</span>
                                    <p>- Cần bán lại chiếc xe Air blade đời 2015, đã đi 15.000km, biển số Thành Phố.
                                    </p>
                                    <p>- Xe bảo dưỡng định kỳ tại hãng.</p>
                                    <p>- Tôi có giấy tờ chính chủ đầy đủ, giá bán xx triệu, xem xe tại nhà hoặc ra
                                        hãng test.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="verify-phone" name="verify_phone" value="">
            <input type="hidden" id="access_token" name="access_token" value="">
        </form>

        <input type="hidden" id="check_shop" value="0" name="is_shop"/>
        <div class="layout" id="layout"></div>
    </section>

    <button type="button" id="back-to-top">PAGE TOP</button>
    <div class="chat-box">
            <span class="btn-open-chatbox">
                <i class="icon icon-chat-orange"></i>
                Chat
            </span>
        <ul>
            <li>
                <a href="https://zalo.me/654506731362465430?src=qr&f=1" class="btn btn-block btn-zalo"
                   target="_blank">
                    <i class="icon icon-zalo"></i>
                    Zalo Webike chat
                </a>
            </li>
            <li>
                <a href="https://m.me/webike.vn" class="btn btn-block btn-facebook" target="_blank">
                    <i class="icon icon-messenger"></i>
                    Facebook Messenger
                </a>
            </li>
        </ul>
    </div>
    <footer>
        <div class="menu">
            <div class="container clearfix">
                <div class="about">
                    <p class="title">Thông tin liên hệ</p>
                    <ul class="basic-info">
                        <li>
                            <address>Lầu 4, Tòa nhà Đại học Phú Xuân, số 28 Nguyễn Tri Phương, P. Phú Hội, Tp. Huêd,
                                Thừa Thiên Huế.
                            </address>
                        </li>
                        <li>
                            <time>Giờ lam việc: Thứ 2 - 6: 8h00 - 17h30</time>

                        </li>
                        <li>
                            <p class="mail">
                                Email: <a href="support@webike.vn">fastbikec8@gmail.com</a>
                            </p>
                        </li>
                    </ul>
                    <div class="social clearfix">
                        <div>
                            <a href="https://www.facebook.com/webike.vn?fref=ts" target="_blank">
                                <i class="icon icon-facebook"></i>
                            </a>
                        </div>
                        <div>
                            <a href="https://www.youtube.com/c/webikevn" target="_blank">
                                <i class="icon icon-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="accessary">
                    <p class="title">Siêu thị phụ tùng</p>
                    <ul>
                        <li><a title="Dàng xe" target="_blank"
                               href="https://shop.webike.vn/Moto/">Dàng xe</a></li>
                        <li><a title="Hang xe" target="_blank"
                               href="https://shop.webike.vn/brd/list/">Hang xe</a></li>
                        <li><a title="Chính hang" target="_blank"
                               href="https://shop.webike.vn/oem_parts/">Chính hang</a></li>
                        <li><a title="Phụ tùng" target="_blank"
                               href="https://shop.webike.vn/bm/top/phu-tung-xe-may/1000/">Phụ tùng</a></li>
                        <li><a title="Đồ bảo hộ" target="_blank"
                               href="https://shop.webike.vn/bm/top/trang-phuc-di-xe-giap-phuot/3020/">Đồ bảo hộ</a>
                        </li>
                        <li><a title="Mũ bảo hiểm" target="_blank"
                               href="https://shop.webike.vn/bm/top/mu-bao-hiem/3001/">Mũ bảo hiểm</a></li>
                        <li><a title="Phụ kiện" target="_blank"
                               href="https://shop.webike.vn/bm/top/dung-cu-biker-phuot/3000/">Phụ kiện</a></li>
                        <li><a title="Thanh viên" target="_blank"
                               href="https://shop.webike.vn/custom-bike/">Thanh viên</a></li>
                    </ul>
                </div>
                <div class="motor-market">
                    <p class="title">Chợ Xe May</p>
                    <ul>
                        <li><a title="Phân khối lớn" target="_blank"
                               href="https://www.webike.vn/cho-xe-may/xe-phan-khoi-lon.html">Phân khối
                            lớn</a></li>
                        <li><a title="Hang xe" target="_blank"
                               href="https://www.webike.vn/cho-xe-may/hang-xe.html">Hang xe</a></li>
                        <li><a title="Phân khối" target="_blank"
                               href="https://www.webike.vn/cho-xe-may/theo-phan-khoi.html">Phân khối</a></li>
                        <li><a title="Loại xe" target="_blank"
                               href="https://www.webike.vn/cho-xe-may/theo-loai-xe.html">Loại xe</a></li>
                        <li><a title="Tỉnh thanh" target="_blank"
                               href="https://www.webike.vn/cho-xe-may/theo-tinh-thanh.html">Tỉnh thanh</a>
                        </li>
                        <li><a title="Cửa hang" target="_blank"
                               href="https://www.webike.vn/cho-xe-may/shop-list.html">Cửa hang</a></li>
                        <li><a title="Tiện ích" target="_blank"
                               href="https://www.webike.vn/tien-ich.html">Tiện ích</a></li>
                    </ul>
                </div>
                <div class="info">
                    <p class="title">Thông tin khac</p>
                    <ul>
                        <li>
                            <a title="Quy chế hoạt động" href="https://www.webike.vn/quy-che-hoat-dong.html"
                               target="_blank">
                                Quy chế hoạt động
                            </a>
                        </li>
                        <li>
                            <a title="Chính sach bảo mật"
                               href="https://www.webike.vn/chinh-sach-bao-mat.html" target="_blank">
                                Chính sach bảo mật
                            </a>
                        </li>
                        <li>
                            <a title="Bản quyền" href="https://www.webike.vn/ban-quyen.html" target="_blank">
                                Bản quyền
                            </a>
                        </li>
                        <li>
                            <a title="Hỗ trợ khach hang" href="https://www.webike.vn/ho-tro.html"
                               target="_blank">
                                Hỗ trợ khach hang
                            </a>
                        </li>
                        <li>
                            <a title="Sơ đồ trang" href="https://www.webike.vn/sitemap.html" target="_blank">
                                Sơ đồ trang
                            </a>
                        </li>
                        <li>
                            <a title="Liên hệ" href="https://www.webike.vn/contact.html" target="_blank">
                                Liên hệ
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="news">
                    <p class="title">Tin tức xe may</p>
                    <ul>
                        <li>
                            <a title="Trang chủ" target="_blank" href="https://news.webike.vn/">
                                Trang chủ
                            </a>
                        </li>
                        <li>
                            <a title="Tin tức - sự kiện" target="_blank"
                               href="https://news.webike.vn/tin-tuc-su-kien">
                                Tin tức - sự kiện
                            </a>
                        </li>
                        <li>
                            <a title="Thông tin xe may" target="_blank"
                               href="https://news.webike.vn/thong-tin-xe-may">
                                Thông tin xe may
                            </a>
                        </li>
                        <li>
                            <a title="Kinh nghiệm" target="_blank" href="https://news.webike.vn/kinh-nghiem">
                                Kinh nghiệm
                            </a>
                        </li>
                        <li>
                            <a title="Xe độ" target="_blank" href="https://news.webike.vn/xe-do">
                                Xe độ
                            </a>
                        </li>
                        <li>
                            <a title="Video giải trí " target="_blank"
                               href="https://news.webike.vn/giai-tri">
                                Video giải trí
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="payment">
                    <p class="title">Phương thức thanh toan</p>
                    <div class="payment-list clearfix">
                        <div>
                            <a>
                                <img src="/frontend/moto-v2/pc/img/payment-01.png?158926651620200827" alt="Visa"
                                     class="lazy">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="/frontend/moto-v2/pc/img/payment-02.png?158926651620200827"
                                     alt="Master Card" class="lazy">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="/frontend/moto-v2/pc/img/img-ali.png?159048317120200827" alt="Alipay"
                                     class="lazy">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="/frontend/moto-v2/pc/img/img-paypal.png?159048317120200827" alt="Paypal"
                                     class="lazy">
                            </a>
                        </div>
                    </div>
                    <div class="payment-list clearfix">
                        <div>
                            <a>
                                <img src="/frontend/moto-v2/pc/img/img-fedex.png?159048317120200827" alt="Fedex"
                                     class="lazy">
                            </a>
                        </div>
                        <div>
                            <a>
                                <img src="/frontend/moto-v2/pc/img/payment-06.png?158926651620200827" alt="EMS"
                                     class="lazy">
                            </a>
                        </div>
                    </div>
                    <div class="verified">
                        <a>
                            <img src="/frontend/moto-v2/pc/img/Rectangle.png?158926651620200827" alt=""
                                 class="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p class="container">&copy; 2020 Webike Vietnam. All rights reserved.</p>
        </div>
    </footer>
    <button type="button" id="btn-back-to-top">
        Page top
    </button>
    <input type="hidden" id="url_login" value="https://www.webike.vn/sign-in.html">
</div>
<script src="/frontend/vendor/jquery.js?158926651720200827"></script>
<script src="/v1/vendor/other/typeahead.bundle.js?154996577520200827" type="deferjs"></script>
<script src="/frontend/vendor/lazysizes/lazysizes.min.js?158926651720200827"></script>
<script src="/frontend/moto-v2/pc/js/wvn.js?160015879020200827"></script>

<script src="/language_pc.js?v=1.0"></script>
<script type="text/javascript">
    deferscript('/frontend/moto-v2/pc/js/sugesstion.js?159852541620200827');
    deferstyle('/frontend/moto-v2/pc/css/sugesstion.css?158926651620200827', 'sugesstion.css');
    deferscript('/frontend/vendor/alertify.js?159169869320200827');
    deferscript('/frontend/moto-v2/pc/js/common.js?160015879020200827');
</script>


<style>
    /* The Modal (background) */
    #salePopup {
        display: none;
        text-align: center;
        position: fixed;
        /* Stay in place */
        z-index: 999;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    #salePopup .popup-content {
        /*background-color: #fefefe;*/
        margin: 10% auto;
        /* 15% from the top and centered */
        padding: 20px;
        /*border: 1px solid #888;*/
        /*width: 80%;  Could be more or less, depending on screen size */
        max-width: 600px;
        /* Could be more or less, depending on screen size */
    }

    #salePopup img {
        max-width: 500px;
    }

    /* The Close Button */
    #salePopup .close {
        color: #fff;
        float: right;
        font-size: 70px;
        /*font-weight: bold;*/
        position: absolute;
        right: 285px;
        top: 120px;
    }

    #salePopup .close:hover,
    #salePopup .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    deferimg('img.lazy')
    var IMAGE_BIKE_LAZY = '/frontend/img/common/product_default.jpg?152472729920200827';
</script>
<script src="/frontend/js/jquery-upload.js?152472729920200827"></script>

<!--[if (gte IE 8)&(lt IE 10)]>
<script src="/frontend/js/ie-fixes/jquery.xdr-transport.js?152472729920200827"></script>
<![endif]-->

<script type="text/javascript">
    var IMAGE_BIKE_LAZY = '/frontend/img/common/product_default.jpg?152472729920200827';
</script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/frontend/vendor/OwlCarousel2-2.3.4/dist/owl.carousel.min.js?158926651720200827"></script>
<script defer src="/v1/vendor/select2/js/select2.min.js?152472729920200827"></script>
<script defer src="/frontend/js/angular.js?152472729920200827"></script>
<script type="text/javascript">
    var SEO_PAGE = false;
</script>
<script defer src="/frontend/moto-v2/pc/js/vendor/trumbowyg.min.js?160015879020200827"></script>
<script type="text/javascript">
    deferscript('/frontend/moto-v2/pc/js/pages/create_product.js?160024930220200827');
</script>
<script defer src="/v1/pc/js/common/cookies_shopping.js?152472729920200827"></script>
<script src="/frontend/vendor/alertify/alertify.min.js?160015879020200827"></script>
<script>

    getAllBrand();

    function getAllBrand() {
        $.ajax({
            type: "GET",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            url: "/api/moto/getAllBrand",
        }).done(function (data) {
            console.log(data);
            $.each(data, (index, item) => {
                $('#filter-brand-list').append(`<li><label>
                                                        <input type="radio" name="manufacturer_code" >
                                                        <span data-id="${item.brandId}" class="span-brand">${item.brandName}</span>
                                                    </label>
                                                </li>`);
            })
            handlerClickBrand();
        }).fail(function () {

        })
    }

    let brand;
    let series;
    let year;

    function handlerClickBrand() {
        $(".span-brand").on("click", function () {
            var dataId = $(this).attr('data-id')
            brand = $(this).text();
            $("#temp_description").text(brand);
            $.ajax({
                type: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
                url: "/api/moto/getSeries/" + dataId,
            }).done(function (data) {
                let str = "";
                $.each(data, (index, item) => {
                    str += `<li><label> <input type="radio" name="manufacturer_code">
                                        <span data-id="${item.seriesId}" class="span-series">${item.seriesName}</span>
                                 </label> </li>`
                })
                $('#filter-series-list').replaceWith(`<ul id="filter-series-list" class="custom_scroll">${str}</ul>`);
                $('#filter-year-list').replaceWith(`<ul id="filter-year-list" class="custom_scroll"></ul>`);
                $('#filter-color-list').replaceWith(`<ul id="filter-color-list" class="custom_scroll"></ul>`);
                handlerClickSeries();
            }).fail(function () {

            })
        });
    }

    function handlerClickSeries() {
        $(".span-series").on("click", function () {
            var dataId = $(this).attr('data-id')
            series = $(this).text();
            $("#temp_description").text(brand + " " + series);

            $.ajax({
                type: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
                url: "/api/moto/getModelYears/" + dataId,
            }).done(function (data) {
                console.log(data);
                let str = "";
                $.each(data, (index, item) => {
                    str += `<li><label> <input type="radio" name="manufacturer_code">
                                        <span data-id="${item.modelYearId}" class="span-year">${item.modelYearName}</span>
                                 </label> </li>`
                })
                $('#filter-year-list').replaceWith(`<ul id="filter-year-list" class="custom_scroll">${str}</ul>`);
                handlerClickYear();
            }).fail(function () {

            })

        })
    }


    function handlerClickYear() {
        $(".span-year").on("click", function () {
            var dataId = $(this).attr('data-id')
            year = $(this).text();
            $("#temp_description").text(brand + " " + series + " " + year);

            $.ajax({
                type: "GET",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
                url: "/api/moto/getColors",
            }).done(function (data) {
                console.log(data);
                let str = "";
                $.each(data, (index, item) => {
                    str += `<li><label> <input type="radio" name="manufacturer_code">
                                        <span data-id="${item.colorId}" class="span-color">${item.colorName}</span>
                                 </label> </li>`
                })
                $('#filter-color-list').replaceWith(`<ul id="filter-color-list" class="custom_scroll">${str}</ul>`);
                handlerClickColor();
            }).fail(function () {

            })
        })
    }


    function handlerClickColor() {
        $(".span-color").on("click", function () {
            var dataId = $(this).attr('data-id')
            let color = $(this).text();
            $("#temp_description").text(brand + " " + series + " " + year + " " + color);
            let nameMoto =  $("#temp_description").text();
            $("#title-post").val(nameMoto);
        })
    }

</script>
</body>

</html>