<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng tin bán xe</title>


    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/moto-market.css?160015907620200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/pages/moto-market-layout.css?159169869320200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/common.css?159833824020200827">
    <link rel="stylesheet" href="/frontend/moto-v2/pc/css/pages/maker-detail-custom.css?159368123420200827">


    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css"
          href="/frontend/moto-v2/pc/css/vendor/trumbowyg/trumbowyg.min.css?160015879020200827">
    <link rel="stylesheet" type="text/css" href="/v1/vendor/select2/css/select2.min.css?152472729920200827"
          media="screen" onload="media='screen'">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/common.css?159833824020200827">
    <link rel="stylesheet" type="text/css" href="/v1/vendor/font-awesome/css/font-awesome.min.css?152472729920200827"
          media="screen" onload="media='screen'">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/pages/create_product.css?160015879020200827">
    <link rel="stylesheet" type="text/css" href="/frontend/moto-v2/pc/css/pages/top.css?159125667020200827">
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="/frontend/vendor/alertify/alertify.min.css?160015879020200827"/>

</head>

<body>

<div id="main">
    <div th:replace="~{fragments/header :: header(userLogin=${userLogin})}"></div>

    <section class="wrapper create-product">
        <form method="POST"  accept-charset="UTF-8" name="signup_form" id="product-editor" th:action="@{/post/newpost}" th:object="${post}" enctype="multipart/form-data">
            <div class="container">
                <section>
                    <ul class="breadcrumb">
                        <li><a href="https://www.webike.vn">Trang chủ</a></li>
                        <li>
                            <a href="https://www.webike.vn/cho-xe-may.html" title="Chợ xe may"
                               property="item" typeof="WebPage">Chợ xe may</a>
                            <meta property="position" content="1">
                        </li>
                        <li>
                            <span property="name">Đăng tin bán xe</span>
                            <meta property="position" content="1">
                        </li>
                    </ul>
                </section>

                <div class="contents">
                    <div class="col-left">
                        <div class="block bg-white">
                            <div class="title-h1">
                                <h1>Đăng bán xe của bạn</h1>
                            </div>
                            <div class="sub-title">
                                <p>Điền đầy đủ thông tin giúp khách hàng dễ tìm xe</p>
                            </div>

                            <div class="filter-model " id="target_info">
                                <div class="filter-col ">
                                    <div class="f-top bg-white">
                                        <div class="input-search">
                                            <div class="icon_search"><i class="icon icon-search"></i></div>
                                            <input id="list-brand-filter" class="list-filter"
                                                   data-target="#filter-brand-list" placeholder="Hãng xe"
                                                   required="true">
                                        </div>
                                    </div>
                                    <div class="f-bottom bg-white">
                                        <div class="input-list">
                                            <ul id="filter-brand-list" class="custom_scroll">


                                            </ul>
                                        </div>
                                    </div>
                                    <label class="msg_warning hide"></label>
                                </div>

                                <div class="filter-col ">
                                    <div class="f-top bg-white">
                                        <div class="input-search">
                                            <div class="icon_search"><i class="icon icon-search"></i></div>
                                            <input id="list-series-filter" class="list-filter"
                                                   data-target="#filter-series-list" placeholder="Dòng xe"
                                                   required="true">
                                        </div>
                                    </div>
                                    <div class="f-bottom bg-white">
                                        <div class="input-list">
                                            <ul id="filter-series-list" class="custom_scroll">
                                            </ul>
                                        </div>
                                    </div>
                                    <label class="msg_warning hide"></label>
                                </div>

                                <div class="filter-col ">
                                    <div class="f-top bg-white">
                                        <div class="input-search">
                                            <div class="icon_search"><i class="icon icon-search"></i></div>
                                            <input id="list-year-filter" name="list-year-filter" class="list-filter"
                                                   data-target="#filter-year-list" placeholder="Đời xe">
                                        </div>
                                    </div>
                                    <div class="f-bottom bg-white">
                                        <div class="input-list">
                                            <ul id="filter-year-list" class="custom_scroll">
                                            </ul>
                                        </div>
                                    </div>
                                    <input type="hidden" id="moder-year-id" name="moder-year-id" value="">
                                    <label class="msg_warning hide"></label>
                                </div>

                                <div class="filter-col ">
                                    <div class="f-top bg-white">
                                        <div class="input-search">
                                            <div class="icon_search"><i class="icon icon-search"></i></div>
                                            <input id="list-color-filter" class="list-filter"
                                                   data-target="#filter-color-list" placeholder="Màu xe"
                                                   required="true">
                                        </div>
                                    </div>
                                    <div class="f-bottom bg-white">
                                        <div class="input-list">
                                            <ul class="custom_scroll" id="filter-color-list">

                                            </ul>
                                        </div>
                                    </div>
                                    <input type="hidden" name="color-id" id="color-id" value="">
                                    <label class="msg_warning hide"></label>
                                </div>
                            </div>

                            <div class="info-bike">
                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Xe bạn đang chọn:
                                        </label>
                                    </div>
                                    <input type="text" class="item-center" readonly id="temp_description"  th:field="*{modelMotor}"/>
                                    <div class="item-right"></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Hình thức sở hữu
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <select name="ownershipSelect" id="ownershipSelect"  th:field="*{ownership}" style="border: 1px solid #e0e0e0">
                                        <option value="OWNERSHIP">Chính chủ</option>
                                        <option value="NO_OWNERSHIP">Không Chính chủ</option>
                                    </select>
                                </div>
                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Số km đã đi
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="select2-style select_odo">
                                            <select placeholder="Đa đi"  autocomplete="1" data-hide-search="1"
                                                    id="product_odo" class="form-control" th:field="*{kilometerCount}" required="true"
                                                    name="odo_code">
                                                <option value=""  selected hidden >Đã đi</option>
                                                <option value="0 - 4 999">0 - 4 999</option>
                                                <option value="5 000 - 9 999">5 000 - 9 999</option>
                                                <option value="10 000 - 14 999">10 000 - 14 999</option>
                                                <option value="15 000 - 19 999">15 000 - 19 999</option>
                                                <option value="20 000 - 24 999">20 000 - 24 999</option>
                                                <option value="25 000 - 29 999">25 000 - 29 999</option>
                                                <option value="30 000 - 34 999">30 000 - 34 999</option>
                                                <option value="35 000 - 39 999">35 000 - 39 999</option>
                                                <option value="40 000 - 44 999">40 000 - 44 999</option>
                                                <option value="45 000 - 49 999">45 000 - 49 999</option>
                                                <option value="50 000 - 59 999">50 000 - 59 999</option>
                                                <option value="60 000 - 69 999">60 000 - 69 999</option>
                                                <option value="70 000 - 79 999">70 000 - 79 999</option>
                                                <option value="80 000 - 89 999">80 000 - 89 999</option>
                                                <option value="90 000 - 99 999">90 000 - 99 999</option>
                                                <option value="&gt; 100 000">&gt; 100 000</option>
                                                <option value="Không rõ">Không rõ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Tiêu đề
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="input-style1">
                                            <input required="true"   class="" id="title-post" type="text"
                                                   name="product_description"
                                                   maxlength="100" value="" th:field="*{title}">
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>
                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Mô tả
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="textarea-style1">
                                                <textarea required="true"
                                                          name="product_other_description" rows="5"
                                                          class="form-control" th:field="*{description}"></textarea>
                                        </div>
                                        <label class="msg_warning msg_other_desc hide"></label>
                                    </div>
                                    <div class="item-right"></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Giá tiền
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center ">
                                        <div class="input-style1 input_price">
                                            <div class="unit"><span>đ</span></div>
                                            <input required="true" type="text" id="product_price_tmp"
                                                   name="product_price_tmp" value="" th:field="*{price}" >
                                            <input class="" type="hidden" name="product_price" value="">
                                        </div>
                                        <label class="msg_warning hide"></label>
                                    </div>
                                    <div class="item-right">
                                        <label class="checkbox">
                                            <input type="checkbox" id="contact_price" name="contact_price">
                                            <span class="checkmark"></span>
                                            Liên hệ
                                        </label>
                                    </div>
                                </div>

                                <div class="items no-padding hide">
                                    <div class="item-left"></div>
                                    <div class="item-center">
                                        <label class="msg_warning msg_warning_price"></label>
                                    </div>
                                    <div class="item-right"></div>
                                </div>
                                <div class="items no-padding">
                                    <div class="item-left"></div>
                                    <div class="item-center">
                                        <p class="msg-notice text-orange">Tổng giá tiền. Giá cuối cùng khách hàng
                                            thanh toán để nhận xe.</p>
                                    </div>
                                    <div class="item-right"></div>
                                </div>

                            </div>
                        </div>

                        <div class="block bg-white" id="target_photo">
                            <div class="title-h1">
                                <span>Hình ảnh</span>
                            </div>
                            <div class="info-bike" id="photo_holder" data-max-photos="9">
                                <div id="preview-img">

                                </div>
                                <div class="item-photo add_more" data-index="">
                                    <label class="upload">
                                        <figure class="thumbnail">
                                            <img class="static">
                                            <em class="icon p-upload"></em>
                                        </figure>
                                        <a href="#" data-select="Chọn hình" data-remove="Xóa hình">
                                            Thêm ảnh
                                        </a>
                                        <input class="" id="ip-upload-multi" name="ip-upload-multi" type="file" multiple minlength="5"
                                               maxlength="10" accept="image/*">
                                    </label>
                                    <p class="errmsg help-block small error_photo_0"></p>
                                </div>
                            </div>

                            <div class="info-bike">
                                <label class="msg_warning_photo msg_warning hide"></label>
                            </div>
                        </div>

                        <div class="block bg-white" id="target_contact">
                            <div class="title-h1">
                                <span>Thông tin liên hệ</span>
                            </div>
                            <div class="info-bike">
                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Họ tên liên hệ
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center ">
                                        <div class="input-style1">
                                            <input required="true" type="text" id="sellerName"  name="sellerName" th:value="${userLogin.userName}" readonly>
                                        </div>
                                        <input type="hidden" id="hide-userNameLG" th:value="${userLogin.userName}" >
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label>
                                            Số điện thoại
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center ">
                                        <div class="input-style1">
                                            <input required="true" type="text" name="sellerPhoneNumber"
                                                   id="sellerPhoneNumber" th:value="${userLogin.phoneNumber}" readonly >
                                        </div>
                                        <input type="hidden" id="hide-phoneLG" th:value="${userLogin.phoneNumber}" >

                                    </div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Tỉnh thành
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="select2-style">
                                            <select placeholder="Khu vực" autocomplete="1" id="province_code"
                                            class="form-control" required="true" name="province_code" th:field="*{province}" >
                                                <option value=""  selected hidden>Tỉnh/Thành phố</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>

                                <div class="items">
                                    <div class="item-left">
                                        <label class="label">
                                            Quận huyện
                                            <span class="require">*</span>
                                        </label>
                                    </div>
                                    <div class="item-center">
                                        <div class="select2-style">
                                            <select  autocomplete="1" id="district_code"
                                                    class="form-control" name="district_code" th:field="*{district}" >
                                                <option value=""   selected hidden>Vui Lòng chọn tỉnh/thành</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="item-right"><label class="msg_warning hide"></label></div>
                                </div>
                            </div>
                        </div>

                        <div class="block text-right bg-white group-button inner-wrap-sticky bottom_sticky">
                            <div class="items">
                                <div class="btn_post">
                                    <button type="submit" id="cancel_btn"
                                            class="btn btn-gray btn-post-bike">Đóng
                                    </button>
                                </div>
                                <div class="btn_post">
                                    <button type="submit" id="submit_btn" class="btn btn-danger btn-post-bike">Đăng
                                        xe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-right inner-wrap-sticky">
                        <div class="block bg-white">
                            <div class="block-fixed">
                                <ul class="step">
                                    <li class="active">
                                        <a class="media" href="#target_info">
                                            <div><i class="icon icon-info"></i></div>
                                            <span class="media-body">Thông tin cơ bản</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="media" href="#target_photo">
                                            <div><i class="icon icon-camera"></i></div>
                                            <span class="media-body">Hình ảnh</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a class="media" href="#target_contact">
                                            <div><i class="icon icon-contact"></i></div>
                                            <span class="media-body">Thông tin liên hệ</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="block">
                            <div class="bg-light-orange block-fixed" id="block_notice">
                                <div class="items-notice title ">
                                    <span class="s-title text-orange">Để bán nhanh hơn!</span>
                                </div>
                                <div class="items-notice">
                                    <span class="s-title text-orange">Nên mô tả bằng Tiếng Việt có dấu</span>
                                    <p>- Tình trạng chiếc xe.</p>
                                    <p>- Thời gian sử dụng.</p>
                                    <p>- Bảo trì xe: bao lâu/1 lần.</p>
                                    <p>- Tình trạng giấy tờ.</p>
                                </div>
                                <div class="items-notice">
                                    <span class="s-title text-orange">Lưu ý:</span>
                                    <p><b>- Không điền số điện thoại/email/website ở đây.</b></p>
                                </div>
                                <div class="items-notice">
                                    <span class="s-title text-orange">Mẹo bán liền tay</span>
                                    <p>- Cần bán lại chiếc xe Air blade đời 2015, đã đi 15.000km, biển số Thành Phố.
                                    </p>
                                    <p>- Xe bảo dưỡng định kỳ tại hãng.</p>
                                    <p>- Tôi có giấy tờ chính chủ đầy đủ, giá bán xx triệu, xem xe tại nhà hoặc ra
                                        hãng test.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="hidden" id="verify-phone" name="verify_phone" value="">
            <input type="hidden" id="access_token" name="access_token" value="">
        </form>

        <input type="hidden" id="check_shop" value="0" name="is_shop"/>
        <div class="layout" id="layout"></div>
    </section>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <button type="button" id="back-to-top">PAGE TOP</button>
    <button type="button" id="btn-back-to-top">
        Page top
    </button>
</div>
<script src="/frontend/vendor/jquery.js?158926651720200827"></script>
<script src="/v1/vendor/other/typeahead.bundle.js?154996577520200827" type="deferjs"></script>
<script src="/frontend/vendor/lazysizes/lazysizes.min.js?158926651720200827"></script>
<script src="/frontend/moto-v2/pc/js/wvn.js?160015879020200827"></script>
<script type="text/javascript">
    deferscript('/frontend/moto-v2/pc/js/sugesstion.js?159852541620200827');
    deferstyle('/frontend/moto-v2/pc/css/sugesstion.css?158926651620200827', 'sugesstion.css');
    deferscript('/frontend/vendor/alertify.js?159169869320200827');
    deferscript('/frontend/moto-v2/pc/js/common.js?160015879020200827');
</script>



<script src="/frontend/js/jquery-upload.js?152472729920200827"></script>

<!--[if (gte IE 8)&(lt IE 10)]>
<script src="/frontend/js/ie-fixes/jquery.xdr-transport.js?152472729920200827"></script>
<![endif]-->


<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/frontend/vendor/OwlCarousel2-2.3.4/dist/owl.carousel.min.js?158926651720200827"></script>
<script defer src="/v1/vendor/select2/js/select2.min.js?152472729920200827"></script>
<script defer src="/frontend/js/angular.js?152472729920200827"></script>
<script type="text/javascript">
    var SEO_PAGE = false;
</script>
<script defer src="/frontend/moto-v2/pc/js/vendor/trumbowyg.min.js?160015879020200827"></script>
<script type="text/javascript">
    deferscript('/frontend/moto-v2/pc/js/pages/create_product.js?160024930220200827');
</script>
<script defer src="/v1/pc/js/common/cookies_shopping.js?152472729920200827"></script>
<script src="/frontend/vendor/alertify/alertify.min.js?160015879020200827"></script>

<div th:replace="~{fragments/script-newpost :: custom_script}"></div>

</body>

</html>