<header id="header" th:fragment="header (userLogin)"  xmlns:th="http://www.thymeleaf.org">
    <div class="container">
            <figure >
                <a href="/">
                    <img style="width: 340px;height: 113px;margin-left: -90px;max-width: 500%; padding: 0" src="/frontend/moto-v2/pc/img/loglast.png"
                         alt="Logo">
                </a>
            </figure>
        <div class="header-content">
            <div class="top">
                <div class="menu-right" style="margin-left: 930px">
                        <th:block th:if="${userLogin}">
                            <ul class="account dropdown logged">
                                <li>
                                    <a href="#" class="btn-sign-in dotted-line-1" >
                                        <i class='far fa-user-circle' style='font-size:20px'></i>
                                        <span th:text="${userLogin.userName}"></span>
                                    </a>
                                </li>
                                <ul class="dropdown-menu">
                                    <li class="">
                                        <a title="Quản lý xe"
                                           href="/user/moto-manager">
                                            Quản lý xe
                                        </a>
                                    </li>
                                    <li class="">
                                        <a title=" Tài khoản của tôi"
                                           href="/user/my-account">
                                            Tài khoản của tôi
                                        </a>
                                    </li>

                                    <li class="">
                                        <a title=" Đổi mật khẩu" href="/user/change-password">
                                            Đổi mật khẩu
                                        </a>
                                    </li>
                                    <li>
                                        <a title=" Đăng xuất" href="/logout" class="btn-logout">
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </ul>
                        </th:block>
                        <th:block th:unless="${userLogin}">
                            <ul class="account dropdown">
                                <li>
                                    <a title="Đăng nhập" href="/signin" class="btn-sign-in">
                                        <i class='far fa-user-circle' style='font-size:18px'></i>
                                        Đăng nhập
                                    </a>
                                </li>
                                <li>
                                    <a title="Đăng ký" href="/signup"
                                       class="btn-sign-up">
                                        Đăng ký
                                    </a>
                                </li>
                                <ul class="dropdown-menu">
                                    <li class="login">
                                        <a title="Đăng nhập" href="/signin"
                                           class="btn btn-block btn-danger btn-sm btn-login">Đăng nhập</a>
                                        <a title="Đăng ký" href="/signup"
                                           class="btn btn-block btn-link btn-sm btn-signup">Đăng ký</a>
                                    </li>
                                </ul>
                            </ul>
                        </th:block>
                </div>
            </div>
            <div class="bot">
                <form id="search" method="get" th:action="@{/search-all}"  style="margin-left: 100px">
                    <div class="button-area">
                        <button type="submit" id="btn_submit">
                            <i class='fas fa-search' style='font-size:24px; margin-top: 6px'></i>
                        </button>
                    </div>
                    <div class="search-input">
                        <input class="txt-search" id="keyword" name="keyword" placeholder="Nhập từ khóa tìm kiếm"
                               type="text" value="" >
                    </div>
                </form>
                <ul class="info-right">
                    <li>
                        <a href="/post/newpost" class="btn-header">
                            <i class='far fa-edit' style='font-size:24px'></i>
                            Đăng bán xe
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="second-menu">
        <div class="container">
            <ul>
                <li>
                    <a href="/post/moto-list">
                        Tất cả xe
                    </a>
                </li>

                <li>
                    <a href="#">
                       Hãng xe
                    </a>
                    <ul class="sub-menu">

                        <li>
                            <a title="Honda" class="title_menu"
                               href="/search-all?keyword=honda">
                                Honda
                            </a>
                        </li>
                        <li>
                            <a title="Yamaha" class="title_menu"
                               href="/search-all?keyword=yamaha">
                                Yamaha
                            </a>
                        </li>
                        <li>
                            <a title="Kawasaki" class="title_menu"
                               href="/search-all?keyword=kawasaki">
                                Kawasaki
                            </a>
                        </li>
                        <li>
                            <a title="Suzuki" class="title_menu"
                               href="/search-all?keyword=suzuki">
                                Suzuki
                            </a>
                        </li>
                        <li>
                            <a title="Ducati" class="title_menu"
                               href="/search-all?keyword=ducati">
                                Ducati
                            </a>
                        </li>
                        <li>
                            <a title="Benelli" class="title_menu"
                               href="/search-all?keyword=beneli">
                                Benelli
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/theo-phan-khoi.html">
                        Phân khối
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a class="title_menu btn-arrow-right"
                               href="/theo-phan-khoi.html"
                               title="Tất cả phân khối">
                                Tất cả phân khối
                            </a>
                        </li>
                        <li>
                            <a title="-50cc" class="title_menu"
                               href="/bike-list/0-50cc.html">
                                -50cc
                            </a>
                        </li>
                        <li>
                            <a title="51cc-174cc" class="title_menu"
                               href="/bike-list/51-174cc.html">
                                51cc-174cc
                            </a>
                        </li>
                        <li>
                            <a title="175cc-400cc" class="title_menu"
                               href="/bike-list/175-400cc.html">
                                175cc-400cc
                            </a>
                        </li>
                        <li>
                            <a title="401cc-750cc" class="title_menu"
                               href="/bike-list/401-750cc.html">
                                401cc-750cc
                            </a>
                        </li>
                        <li>
                            <a title="751cc-1000cc" class="title_menu"
                               href="/bike-list/751-1000cc.html">
                                751cc-1000cc
                            </a>
                        </li>
                        <li>
                            <a title="1001cc-" class="title_menu"
                               href="/bike-list/1001-9999cc.html">
                                1001cc-
                            </a>
                        </li>
                    </ul>


                </li>
                <li>
                    <a href="/theo-loai-xe.html">
                        Loại xe
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a class="title_menu btn-arrow-right"
                               href="/theo-loai-xe.html"
                               title="Tất cả loại xe">
                                Tất cả loại xe
                            </a>
                        </li>
                        <li>
                            <a title="Xe số" class="title_menu"
                               href="/bike-list/st-xe-so.html">
                                Xe số
                            </a>
                        </li>
                        <li>
                            <a title="Xe côn tay" class="title_menu"
                               href="/bike-list/st-xe-con-tay.html">
                                Xe côn tay
                            </a>
                        </li>
                        <li>
                            <a title="Xe tay ga" class="title_menu"
                               href="/bike-list/st-xe-ga.html">
                                Xe tay ga
                            </a>
                        </li>
                        <li>
                            <a title="Classic" class="title_menu"
                               href="/bike-list/st-classic.html">
                                Classic
                            </a>
                        </li>
                        <li>
                            <a title="Cruiser" class="title_menu"
                               href="/bike-list/st-cruiser.html">
                                Cruiser
                            </a>
                        </li>
                        <li>
                            <a title="Sport bike" class="title_menu"
                               href="/bike-list/st-sport-bike.html">
                                Sport bike
                            </a>
                        </li>
                        <li>
                            <a title="Naked bike" class="title_menu"
                               href="/bike-list/st-naked-bike.html">
                                Naked bike
                            </a>
                        </li>
                        <li>
                            <a title="Chopper" class="title_menu"
                               href="/bike-list/st-chopper.html">
                                Chopper
                            </a>
                        </li>
                        <li>
                            <a title="Bobber" class="title_menu"
                               href="/bike-list/st-bobber.html">
                                Bobber
                            </a>
                        </li>
                        <li>
                            <a title="Drag" class="title_menu"
                               href="/bike-list/st-drag.html">
                                Drag
                            </a>
                        </li>
                        <li>
                            <a title="Street fighter" class="title_menu"
                               href="/bike-list/st-street-fighter.html">
                                Street fighter
                            </a>
                        </li>
                        <li>
                            <a title="Touring" class="title_menu"
                               href="/bike-list/st-touring.html">
                                Touring
                            </a>
                        </li>
                        <li>
                            <a title="Sport touring" class="title_menu"
                               href="/bike-list/st-sport-touring.html">
                                Sport touring
                            </a>
                        </li>
                        <li>
                            <a title="Off-road" class="title_menu"
                               href="/bike-list/st-off-road.html">
                                Off-road
                            </a>
                        </li>
                        <li>
                            <a title="Dirt bike" class="title_menu"
                               href="/bike-list/st-dirt-bike.html">
                                Dirt bike
                            </a>
                        </li>
                        <li>
                            <a title="Adventure (dual-sport)" class="title_menu"
                               href="/bike-list/st-adventure.html">
                                Adventure (dual-sport)
                            </a>
                        </li>
                        <li>
                            <a title="Vespa gts super 150" class="title_menu"
                               href="/bike-list/st-vespa-gts-super-150.html">
                                Vespa gts super 150
                            </a>
                        </li>
                    </ul>


                </li>
                <li>
                    <a href="/theo-tinh-thanh.html">
                        Tỉnh thanh
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a class="title_menu btn-arrow-right"
                               href="/theo-tinh-thanh.html"
                               title="Toan quốc">
                                Toan quốc
                            </a>
                        </li>
                        <li>
                            <a title="Hồ chí minh" class="title_menu"
                               href="/bike-list/ho-chi-minh-p50.html">
                                Hồ chí minh
                            </a>
                        </li>
                        <li>
                            <a title="Ha nội" class="title_menu"
                               href="/bike-list/ha-noi-p18.html">
                                Ha nội
                            </a>
                        </li>
                        <li>
                            <a title="Đa nẵng" class="title_menu"
                               href="/bike-list/da-nang-p34.html">
                                Đa nẵng
                            </a>
                        </li>
                        <li>
                            <a title="Cần thơ" class="title_menu"
                               href="/bike-list/can-tho-p55.html">
                                Cần thơ
                            </a>
                        </li>
                        <li>
                            <a title="Khanh hàa" class="title_menu"
                               href="/bike-list/khanh-hoa-p35.html">
                                Khanh hàa
                            </a>
                        </li>
                        <li>
                            <a title="Hải phàng" class="title_menu"
                               href="/bike-list/hai-phong-p20.html">
                                Hải phàng
                            </a>
                        </li>
                        <li>
                            <a title="An giang" class="title_menu"
                               href="/bike-list/an-giang-p51.html">
                                An giang
                            </a>
                        </li>
                        <li>
                            <a title="Ba rịa-vũng tau" class="title_menu"
                               href="/bike-list/ba-ria-vung-tau-p45.html">
                                Ba rịa-vũng tau
                            </a>
                        </li>
                        <li>
                            <a title="Bắc giang" class="title_menu"
                               href="/bike-list/bac-giang-p1.html">
                                Bắc giang
                            </a>
                        </li>
                        <li>
                            <a title="Bắc kạn" class="title_menu"
                               href="/bike-list/bac-kan-p2.html">
                                Bắc kạn
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</header>