<header id="header" th:fragment="header (userLogin)"  xmlns:th="http://www.thymeleaf.org">
    <div class="container">
            <figure >
                <a href="/">
                    <img style="width: 340px;height: 113px;margin-left: -90px;max-width: 500%; padding: 0" src="/frontend/moto-v2/pc/img/loglast.png"
                         alt="Logo">
                </a>
            </figure>
        <div class="header-content">
            <div class="top">
                <div class="menu-right" style="margin-left: 930px">
                        <th:block th:if="${userLogin}">
                            <ul class="account dropdown logged">
                                <li>
                                    <a href="#" class="btn-sign-in dotted-line-1" >
                                        <i class='far fa-user-circle' style='font-size:20px'></i>
                                        <span th:text="${userLogin.userName}"></span>
                                    </a>
                                </li>
                                <ul class="dropdown-menu">
                                    <li class="">
                                        <a title="Quản lý xe"
                                           href="/user/moto-manager">
                                            Quản lý xe
                                        </a>
                                    </li>
                                    <li class="">
                                        <a title=" Tài khoản của tôi"
                                           href="/user/my-account">
                                            Tài khoản của tôi
                                        </a>
                                    </li>

                                    <li class="">
                                        <a title=" Đổi mật khẩu" href="/user/change-password">
                                            Đổi mật khẩu
                                        </a>
                                    </li>
                                    <li>
                                        <a title=" Đăng xuất" href="/logout" class="btn-logout">
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </ul>
                        </th:block>
                        <th:block th:unless="${userLogin}">
                            <ul class="account dropdown">
                                <li>
                                    <a title="Đăng nhập" href="/signin" class="btn-sign-in">
                                        <i class='far fa-user-circle' style='font-size:18px'></i>
                                        Đăng nhập
                                    </a>
                                </li>
                                <li>
                                    <a title="Đăng ký" href="/signup"
                                       class="btn-sign-up">
                                        Đăng ký
                                    </a>
                                </li>
                                <ul class="dropdown-menu">
                                    <li class="login">
                                        <a title="Đăng nhập" href="/signin"
                                           class="btn btn-block btn-danger btn-sm btn-login">Đăng nhập</a>
                                        <a title="Đăng ký" href="/signup"
                                           class="btn btn-block btn-link btn-sm btn-signup">Đăng ký</a>
                                    </li>
                                </ul>
                            </ul>
                        </th:block>
                </div>
            </div>
            <div class="bot">
                <form id="search" method="get" th:action="@{/post/moto-list}"  style="margin-left: 100px">
                    <div class="button-area">
                        <button type="submit" id="btn_submit">
                            <i class='fas fa-search' style='font-size:24px; margin-top: 6px'></i>
                        </button>
                    </div>
                    <div class="search-input">
                        <input class="txt-search" id="q" name="q" placeholder="Nhập từ khóa tìm kiếm"
                               type="text" value="" >
                    </div>
                </form>
                <ul class="info-right">
                    <li>
                        <a href="/post/newpost" class="btn-header">
                            <i class='far fa-edit' style='font-size:24px'></i>
                            Đăng bán xe
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="second-menu">
        <div class="container">
            <ul>
                <li>
                    <a href="/post/moto-list">
                        Tất cả xe
                    </a>
                </li>

                <li>
                    <a href="#">
                       Hãng xe
                    </a>
                    <ul class="sub-menu">

                        <li>
                            <a title="Honda" class="title_menu"
                               href="/post/moto-list?q=honda">
                                Honda
                            </a>
                        </li>
                        <li>
                            <a title="Yamaha" class="title_menu"
                               href="/post/moto-list?q=yamaha">
                                Yamaha
                            </a>
                        </li>
                        <li>
                            <a title="Kawasaki" class="title_menu"
                               href="/post/moto-list?q=kawasaki">
                                Kawasaki
                            </a>
                        </li>
                        <li>
                            <a title="Suzuki" class="title_menu"
                               href="/post/moto-list?q=suzuki">
                                Suzuki
                            </a>
                        </li>
                        <li>
                            <a title="Ducati" class="title_menu"
                               href="/post/moto-list?q=ducati">
                                Ducati
                            </a>
                        </li>
                        <li>
                            <a title="Benelli" class="title_menu"
                               href="/post/moto-list?q=beneli">
                                Benelli
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="/theo-phan-khoi.html">
                        Phân khối
                    </a>
                    <ul class="sub-menu">
                      
                        <li>
                            <a title="-50cc" class="title_menu"
                               href="/post/moto-list?cc=0-50&">
                                -50cc
                            </a>
                        </li>
                        <li>
                            <a title="51cc-174cc" class="title_menu"
                               href="/post/moto-list?cc=51-174&">
                                51cc-174cc
                            </a>
                        </li>
                        <li>
                            <a title="175cc-400cc" class="title_menu"
                               href="/post/moto-list?cc=175-400&">
                                175cc-400cc
                            </a>
                        </li>
                        <li>
                            <a title="401cc-750cc" class="title_menu"
                               href="/post/moto-list?cc=401-750&">
                                401cc-750cc
                            </a>
                        </li>
                        <li>
                            <a title="751cc-1000cc" class="title_menu"
                               href="/post/moto-list?cc=751-1000&">
                                751cc-1000cc
                            </a>
                        </li>
                        <li>
                            <a title="1001cc-" class="title_menu"
                               href="/post/moto-list?cc=1001-9999&">
                                1001cc-
                            </a>
                        </li>
                    </ul>


                </li>
                <li>
                    <a href="#">
                        Loại xe
                    </a>
                    <ul class="sub-menu">

                        <li>
                            <a title="Xe số" class="title_menu"
                               href="/post/moto-list?tp=2&">
                                Xe số
                            </a>
                        </li>
                        <li>
                            <a title="Xe côn tay" class="title_menu"
                               href="/post/moto-list?tp=3&">
                                Xe côn tay
                            </a>
                        </li>
                        <li>
                            <a title="Xe tay ga" class="title_menu"
                               href="/post/moto-list?tp=1&">
                                Xe tay ga
                            </a>
                        </li>
                </li>
                <li>
                    <a href="#">
                        Tỉnh thanh
                    </a>
                    <ul class="sub-menu">

                        <li>
                            <a title="Hồ chí minh" class="title_menu"
                               href="/post/moto-list?pr=Thành phố Hồ Chí Minh">
                                Hồ chí minh
                            </a>
                        </li>
                        <li>
                            <a title="Ha nội" class="title_menu"
                               href="/post/moto-list?pr=Thành phố Hà Nội">
                                Hà nội
                            </a>
                        </li>
                        <li>
                            <a title="Đa nẵng" class="title_menu"
                               href="/post/moto-list?pr=Thành phố Đà Nẵng">
                                Đà nẵng
                            </a>
                        </li>
                        <li>
                            <a title="Cần thơ" class="title_menu"
                               href="/post/moto-list?pr=Thành phố Cần Thơ">
                                Cần thơ
                            </a>
                        </li>
                        <li>
                            <a title="Khanh hàa" class="title_menu"
                               href="/post/moto-list?Tỉnh Khánh Hòa">
                                Khanh hòa
                            </a>
                        </li>
                        <li>
                            <a title="Hải phàng" class="title_menu"
                               href="/post/moto-list?pr=Thành phố Hải Phòng">
                                Hải phòng
                            </a>
                        </li>
                        <li>
                            <a title="An giang" class="title_menu"
                               href="/post/moto-list?pr=Tỉnh An Giang">
                                Bình Phước
                            </a>
                        </li>
                        <li>
                            <a title="Bắc giang" class="title_menu"
                               href="/post/moto-list?pr=Tỉnh Bắc Giang">
                                Bắc giang
                            </a>
                        </li>
                        <li>
                            <a title="Bắc kạn" class="title_menu"
                               href="/post/moto-list?pr=Tỉnh Bình Phước">
                                Bình Phước
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>