<section id="internal_link" th:fragment="html" >
    <div class="container">
        <label class="title">Các từ khóa phổ biến</label>
        <ul>
            <li>
                <a href="/post/moto-list?q=excite 150"
                   title="Exciter 150">Exciter 150</a>
            </li>
            <li>
                <a href="/post/moto-list?q=Kawasaki Z1000"
                   title="Kawasaki Z1000">Kawasaki Z1000</a>
            </li>
            <li>
                <a href="/post/moto-list?q=honda"
                   title="Tên chủ xeHONDA">HONDA</a>
            </li>
            <li>
                <a href="/post/moto-list?q=yamaha"
                   title="YAMAHA">YAMAHA</a>
            </li>
            <li>
                <a href="/post/moto-list?q=piaggio"
                   title="PIAGGIO">PIAGGIO</a>
            </li>
            <li>
                <a href="/post/moto-list?q=sym"
                   title="SYM">SYM</a>
            </li>
            <li>
                <a href="/post/moto-list?q=suzuki"
                   title="SUZUKI">SUZUKI</a>
            </li>
            <li>
                <a href="/post/moto-list?q=kawasaki"
                   title="Kawasaki">Kawasaki</a>
            </li>
            <li>
                <a href="/post/moto-list?q=ducati"
                   title="DUCATI">DUCATI</a>
            </li>
            <li>
                <a href="/post/moto-list?q=harley-davidson"
                   title="HARLEY-DAVIDSON">HARLEY-DAVIDSON</a>
            </li>
            <li>
                <a href="/post/moto-list?q=benelli"
                   title="Benelli">Benelli</a>
            </li>
            <li>
                <a href="/post/moto-list?q=bmw"
                   title="BMW">BMW</a>
            </li>
        </ul>
    </div>
</section>