<div class="sidebar" style="position: sticky;top: 11vh;" th:fragment="slider-account">
    <div class="user_info media">
        <a href="javascript:void(0)">
            <img width="38" height="38" class="lazy"
                 src="https://www.webike.vn/frontend/img/common/l_no_img.jpg?158440972220200827"
                 data-src="https://www.webike.vn/frontend/img/common/avatar_default.jpg?152472729920200827"
                 alt="tqtteams1st@gmail.com">
        </a>
        <div class="media-body">
            <a href="javascript:void(0)" class="user_mame"></a>
            <a href="javascript:void(0)" class="btn_edit_info">Chỉnh sửa tài khoản</a>
        </div>
    </div>
    <ul class="nav_sidebar">
        <li>
            <h3 class="title">Quản lý tài khoản</h3>
            <ul class="sub_slide">
                <li class="dropdown "><a href="https://www.webike.vn/account/edit-profile.html"><i
                        class="fa fa-user"></i>
                    </i> Thông tin tài khoản</a></li>
                <li class=""><a href="https://www.webike.vn/account/change-password.html"><i
                        class="fa fa-key"></i>
                    </i> Đổi mật khẩu</a></li>
                <li><a href="https://www.webike.vn/sign-out.html"><i class="fa fa-sign-out"></i>
                    Đăng
                    xuất</a></li>
            </ul>
        </li>
        <li>
            <h3 class="title">Quản lý xe</h3>
            <ul class="sub_slide">
                <li><a href="/post/newpost"><i class="fa fa-upload"></i>
                    Đăng tin bán xe</a></li>
                <li class="dropdown  open ">
                    <a href="javascript:void(0)" class="dropdown-toggle"><i class="fa fa-motorcycle"></i>
                        Quản lý sản phẩm</a>
                    <ul class="dropdown-menu">
                        <li class="li-menu-moto" data-id="1"><a href="javascript:void(0)">Đang
                            bán </a></li>
                        <li class="li-menu-moto" data-id="2"><a  href="javascript:void(0)">Đã
                            bán</a></li>
                        <li class="li-menu-moto" data-id="3"><a href="javascript:void(0)">Đã xóa</a>
                        </li>
                        <li class="li-menu-moto" data-id="4"><a href="javascript:void(0)" >Chờ
                            duyệt</a></li>
                        <li></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>