<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Add New Admin | Front - Admin &amp; Dashboard Template</title>
    <th:block th:include="/admin/fragment/head::head"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class=" footer-offset">
<div id="pageMessages">

</div>
<th:block th:include="/admin/fragment/layout::dashboard"/>
<main id="content" role="main" class="main pointer-event">
    <div class="content container-fluid">

        <div class="row justify-content-lg-center">
            <div class="col-lg-8">
                <div class="card card-lg active">

                    <div class="card-body">
                        <!-- Form Group -->
                        <form class="js-validate" id="addNewAdminFrm">
                            <div class="text-center">
                                <div class="mb-5">
                                    <h1 class="display-4">Create your account</h1>
                                </div>
                            </div>

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="userName">Full name</label>

                                <input type="text" class="form-control form-control-lg" name="userName" id="userName" placeholder="Wiliam" aria-label="Markwilliams@example.com" required="" data-msg="Please enter full name.">
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupSrEmail">Email</label>

                                <input type="email" class="form-control form-control-lg" name="email" id="signupSrEmail" placeholder="Markwilliams@example.com" aria-label="Markwilliams@example.com" required="" data-msg="Please enter a valid email address.">
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="phoneNumber">Phone </label>

                                <input type="tel" class="form-control form-control-lg" name="phoneNumber" id="phoneNumber" placeholder="0123456789"  required="" data-msg="Please enter phone number.">
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupSrPassword">Password</label>

                                <div class="input-group input-group-merge">
                                    <input type="password" class="js-toggle-password form-control form-control-lg" name="password" id="signupSrPassword" placeholder="8+ characters required" aria-label="8+ characters required" required="" data-msg="Your password is invalid. Please try again." data-hs-toggle-password-options='{
                               "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                               "defaultClass": "tio-hidden-outlined",
                               "showClass": "tio-visible-outlined",
                               "classChangeTarget": ".js-toggle-passowrd-show-icon-1"
                             }'>
                                    <div class="js-toggle-password-target-1 input-group-append">
                                        <a class="input-group-text" href="javascript:;">
                                            <i class="js-toggle-passowrd-show-icon-1 tio-visible-outlined"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <!-- Form Group -->
                            <div class="js-form-message form-group">
                                <label class="input-label" for="signupSrConfirmPassword">Confirm password</label>

                                <div class="input-group input-group-merge">
                                    <input type="password" class="js-toggle-password form-control form-control-lg" name="confirmPassword" id="signupSrConfirmPassword" placeholder="8+ characters required" aria-label="8+ characters required" required="" data-msg="Password does not match the confirm password." data-hs-toggle-password-options='{
                               "target": [".js-toggle-password-target-1", ".js-toggle-password-target-2"],
                               "defaultClass": "tio-hidden-outlined",
                               "showClass": "tio-visible-outlined",
                               "classChangeTarget": ".js-toggle-passowrd-show-icon-2"
                             }'>
                                    <div class="js-toggle-password-target-2 input-group-append">
                                        <a class="input-group-text" href="javascript:;">
                                            <i class="js-toggle-passowrd-show-icon-2 tio-visible-outlined"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Form Group -->

                            <button type="button" id="btn_submit_form" class="btn btn-lg btn-block btn-primary mb-2">Create an account</button>
                        </form>
                        <!-- End Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body >

<th:block th:include="/admin/fragment/script::script"/>
<script>
    $(document).ready(function () {
        showDashboard();
        $('.js-toggle-password').each(function () {
            new HSTogglePassword(this).init()
        });


        // INITIALIZATION OF FORM VALIDATION
        // =======================================================
        $('.js-validate').each(function() {
            $.HSCore.components.HSValidation.init($(this), {
                rules: {
                    confirmPassword: {
                        equalTo: '#signupSrPassword'
                    }
                }
            });
        });
    })

    function showDashboard() {
        $("#users_dashboard").css("display", "block");
        $("#a_add_new_admin").addClass("active");
    }

    $('#btn_submit_form').on("click",function () {
        if ($('#addNewAdminFrm').valid()) {
            let ts = new Date();
            ts.setMinutes(ts.getMinutes() - ts.getTimezoneOffset());
            let time = ts.toISOString().slice(0, 19).replace('T', ' ');
            let admin = {
                userName: $('#userName').val(),
                email: $("#signupSrEmail").val(),
                phoneNumber: $("#phoneNumber").val(),
                password: $("#signupSrPassword").val()
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "/admin/api/add-new-admin",
                data : JSON.stringify(admin)
            }) .done(function (data) {
                $("#pageMessages ").children().remove();
                createAlert('','Success!','Admin has been created successfully!','success',true,true,'pageMessages');
                setTimeout(function(){
                   let url = "/admin/list-user";
                    $(location).attr("href", url);
                },1000);

            }).fail(function (data) {
                $("#pageMessages ").children().remove();
                $.each(data.responseJSON.allErrors, function (key,value) {
                    createAlert('Opps!','Admin is not created',value,'danger',true,true,'pageMessages');
                })
            })
        }

    })


</script>

</html>