<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Add New Admin | Front - Admin &amp; Dashboard Template</title>
    <th:block th:include="/admin/fragment/head::head"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class=" footer-offset">
<th:block th:include="/admin/fragment/layout::dashboard"/>

</body >

<th:block th:include="/admin/fragment/script::script"/>
</html>