<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Dashboard | Front - Admin &amp; Dashboard Template</title>
   <th:block th:include="/admin/fragment/head::head"/>
</head>
<body class=" footer-offset">
<th:block th:include="/admin/fragment/layout::dashboard"/>
<main id="content" role="main" class="main">
    <img style="width: 100%; padding: 10px;" src="https://i-vnexpress.vnecdn.net/2017/02/25/motorcycle-jpeg-1509-1488006101_r_460x0.jpg" alt="">
</main>
<th:block th:include="/admin/fragment/script::script"/>
</body>
</html>