<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Dashboard | Front - Admin &amp; Dashboard Template</title>
   <th:block th:include="/admin/fragment/head::head"/>
</head>
<body class=" footer-offset">
<th:block th:include="/admin/fragment/layout::dashboard"/>
<th:block th:include="/admin/fragment/script::script"/>
</body>
</html>